
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Start</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						
					</li>
					<li class="nav-item">
					    <a href="/input_form_house.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Eingabe <br>Immobilie und Laden</span></a>
					</li>
					<li class="nav-item">
					    <a href="/input_form_PV.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Eingabe <br>PV und Speicher</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						
					</li>
					<li class="nav-item">
						<a href="/db_load_management.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-activity"></i></span><span class="pcoded-mtext">Dashbard <br>Lastmanagement</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_dynamische_strompreise.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Dashbard <br>Stromtarife</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_verlustleistung.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-zap"></i></span><span class="pcoded-mtext">Dashbard <br>Verlustleistung</span></a>
					</li>					
					<li class="nav-item">
						<a href="/db_renewables.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sun"></i></span><span class="pcoded-mtext">Dashbard <br>Pv und Speicher</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						
					</li>
					<li class="nav-item">
						<a href="/db_results.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-check-circle"></i></span><span class="pcoded-mtext">Zusammenfassung</span></a>
					</li>
					<!--
					
					
					<li class="nav-item pcoded-menu-caption">
						<label>Testing</label>
					</li>
					<li class="nav-item">
					    <a href="/index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Dashboards</span></a>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
					    <a href="/bc_card.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Cards</span></a>
					</li>
					-->
					<li class="nav-item pcoded-menu-caption">
						<label>Aktionen</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Werte zurücksetzen</span></a>
					</li>
					<!--
						<li class="nav-item">
					    <a rel="noopener" href="/literatur.html" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Literatur</span></a>
					</li>
					-->
					
				</ul>				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
