
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Willkommen</span></a>
					</li>
					<li class="nav-item">
					    <a href="/input_form.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Eingaben</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_load_management.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Lastmanagement</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_costs.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Steuerbare Verbrauchseinrichtung</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_verlustleistung.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Verlustleistung</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_dynamische_strompreise.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Dynamische Strompreise</span></a>
					</li>
					<li class="nav-item">
					    <a href="/input_form_PV.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Eingaben PV</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_renewables.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Lokale Erzeugung</span></a>
					</li>
					<li class="nav-item">
						<a href="/db_results.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Zusammenfassung</span></a>
					</li>
					<!--
					-->
					
					<li class="nav-item pcoded-menu-caption">
						<label>Testing</label>
					</li>
					<li class="nav-item">
					    <a href="/index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Dashboards</span></a>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
					    <a href="/bc_card.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Cards</span></a>
					</li>
					
					<li class="nav-item pcoded-menu-caption">
						<label>Aktionen</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Abmelden</span></a>
					</li>
					<li class="nav-item">
					    <a rel="noopener" href="/literatur.html" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Literatur</span></a>
					</li>
				</ul>				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
