{% extends "layouts/base.html" %}

{% block title %} Dashboard Kosten {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                Stromkosten <br>
                            </h5>
                            <p>
                                Wie hoch ist der Haushaltsstrom <br>
                                Extra Angebote für Ladestrom <br>
                                Oft eigener Zähler benötigt <br>
                                Zusätzlich möglichkeit von dynamischen Strompreisen zu profitieren <br>
                                To DOs: Verbrauch EV, Dynamische Strompreise, Diagramm dynamische Strompreise
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card alert-success">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                       <br> Ergebnis
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                        Für die Eingabe ... eignet sich folgendes Konzept, weil ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- [ variant-chart ] end -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Steuerbare Verbrauchseinrichtung</h5>
                            <p>
                                Durch eine steuerbare Verbrauchseinrichtung können Sie zuhause dabei helfen die Netzstabilität zu verbessern und damit Geld sparen <br>
                                Durch die teils hohe Ladeleistung eines Elektroautos, kann es im Verteilnetz zu Lastspitzen kommen. <br>
                                Eine steuerbare Verbrauchseinrichtung ermöglicht es hierbei, dass Ihr Ladevorgang für 2 Stunden um 50% rreduziert werden kann <br>
                                Als Gegenleistung können Sie Ihren Ladestrom für ein reduziertes Netzentgeld beziehen. <br>
                                Hierdurch sparen Sie rund 3 Cent die kWh. <br><br>
                                <b>Auswirkungen für Ihre Immobilie: </b><br>
                                Hausanschluss: {{real_estate.house_connection_power}} <br>
                                Ladepunkte: {{real_estate.charging_points_to_install }} ({{real_estate.charging_points_expandable }} erweiterbar )<br>
                                Fahrprofil: {{charging.driving_profile}} <br><br>
                                
                                <b>
                                TO DO: LOHNT ES SICH UND WAS IST OPTIMALER QUERSCHNITT? <br>
                                TO DO: Ihre minimale Ladegeschwindigkeit ist ... <br>
                                TO DO: Für Ihr Fahrprofil müssen Sie hiermit maximal täglich  ... Stunden laden <br>
                                TO DO: Durch eine SVE würden Sie ... weniger laden können <br>
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Stromkosten Steuerbare Verbrauchseinrichtung für einen Ladepunkt</h5>
                            <div id="mixed-chart-2-SVE"></div>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- [ form-element ] end -->    
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var driving_profile = "{{request.session.driving_profile}}";
        var cable_length = "{{request.session.cable_length}}";
        var usage_years = "{{request.session.usage_years}}";
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
