{% extends "layouts/base.html" %}

{% block title %} Dashboard Kosten {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
						<div class="col-md-9">
                            <h5>
                                Steuerare Verbrauchseinrichtung <br>
                            </h5>
                            <p>
                                Durch eine steuerbare Verbrauchseinrichtung können Sie zuhause dabei helfen 
                                die Netzstabilität zu verbessern und damit Geld sparen <br>
                                Durch die teils hohe Ladeleistung eines Elektroautos, kann es im Verteilnetz zu
                                Lastspitzen kommen. <br>
                                Eine steuerbare Verbrauchseinrichtung ermöglicht es hierbei, dass Ihr Ladevorgang 
                                für 2 Stunden um 50% rreduziert werden kann <br>
                                Als Gegenleistung können Sie Ihren Ladestrom für ein reduziertes Netzentgeld beziehen. <br>
                                Hierdurch sparen Sie rund 3 Cent die kWh.
                            </p>
                        </div>
                        <div class="col-md-3">
							<img class="img-fluid card-img-top" src="/static/assets/images/slider/steuerbare_verbrauchseinrichtung.png" alt="Card image cap">
						</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card alert-primary ">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                       <br> Die Installation einer Steuerbaren Verbrauchseinrichtung sinnvoll!
                                    </h5>
                                    <p>
                                        <br>
                                        Bei einem Fahrverhalten von durchschnittlich 
                                        <b>{{request.session.driving_profile}} km am Tag</b> müssen
                                        bei einem Verbrauch von 0,2kWh/km im Jahr 
                                        <b>{{request.session.jahres_stromverbrauch}} kWh</b> geladen werden.
                                        Durch eine SVE und den 3 Cent niedrigeren Strompreis, sparen Sie im Monat 
                                        <b>{{request.session.sve_einsparung_monat}} €</b> und im Jahr
                                        <b>{{request.session.sve_einsparung_jahr}} €</b>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- [ variant-chart ] end -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Steuerbare Verbrauchseinrichtung</h5>
                            <p>
                                Bei einem Fahrverhalten von durchschnittlich 
                                <b>{{request.session.driving_profile}} km am Tag</b> müssen
                                bei einem Verbrauch von 0,2kWh/km im Monat ... kWh geladen werden.
                               
                                Bei Standard Stromkosten von ... cent/ kWh kostet dies ...
                                Durch eine SVE kann der Preis um ca. 3 Cent gesenkt werden.  
                                
                                <b>
                                TO DO: Durch eine SVE würden Sie ... weniger laden können <br>
                                Hausanschluss: {{real_estate.house_connection_power}} <br>
                                Ladepunkte: {{real_estate.charging_points_to_install }} ({{real_estate.charging_points_expandable }} erweiterbar )<br>
                                Fahrprofil: {{charging.driving_profile}} 
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Stromkosten Steuerbare Verbrauchseinrichtung für einen Ladepunkt</h5>
                            <div id="mixed-chart-2-SVE"></div>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- [ form-element ] end -->    
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var driving_profile = "{{request.session.driving_profile}}";
        var cable_length = "{{request.session.cable_length}}";
        var usage_years = "{{request.session.usage_years}}";
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
