{% extends "layouts/base.html" %}

{% block title %} Dashboard Kosten {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                Stromtarife und Preise <br>
                            </h5>
                            <p>
                                <b>Aktuell unteliegen die Strompreise starken Schwankungen, weshalb die 
                                    hinterlegten Werte ggf. nicht mehr aktuell sind. Die Kalkulation 
                                    kann trotzdem zum Verständnis betrachtet werden.
                                </b>
                                <br><br>
                                Für das Laden von Elektroautos zuhause kann zwischen unterschiedlichen
                                Stromtarifen gewählt werden. Grundsätzlich wird hierbei zwischen
                                Haushaltsstrom, Autostrom und dynamischen Stromatrifen unterschieden. 
                                <br><br>
                                Bei <b>Haushaltsstrom</b> wird das Elektrofahrzeug mit dem 
                                gleichen Stromtarif geladen wie die anderen Geräte im Haushalt. 
                                Hier lag der <b> Preis 2021 bei 32,16 Cent/ kWh </b>.
                               <br><br>
                                Daneben ist es möglich, einen Stromvertrag nur für das Auto zu schließen – <b>Autostrom.</b> 
                                Ein beispielhafter Stromtarif kostet hier als <b>Grundpreis 10,6€ im Monat </b> sowie 
                                ein <b>Arbeitspreis von 0,2987 €/kWh </b>. 
                                Weitere Vergleichsangebote finden Sie unter verschiedenen
                                Vergleichsportalen, wie bspw. 
                                <a href="https://www.autobild.de/artikel/autostrom-vertrag-strom-fuers-e-auto-e-auto-stromtarif-vergleich-zu-hause-wallbox-19481535.html" target="_blank">Hier Vergleichen</a> 
                                <br><br> 
                                Mit einem <b>dynamischen Stromtarif</b> ist ein Strombelieferungsvertrag gemeint, 
                                bei welchem nicht wie üblich ein statischer Preis für jede verbrauchte kWh 
                                zwischen Stromkunde und Energieversorger vertraglich festgehalten wird. 
                                Ein dynamischer Stromtarif gibt zeitliche Strompreisschwankungen an den 
                                Stromkunden weiter. D.h. der Strom ist bei dynamischen Stromtarifen, 
                                anders als bei konventionellen Stromtarifen, nicht zu jedem Zeitpunkt gleich 
                                viel wert. 
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5>Dynamische Strompreise Jan 2021</h5>
                            <div id="dynamische_strompreise_übersicht"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>Zusammensetzung Strompreis <br>
                                31 Cent
                            </h5>
                        </div>
                        <div class="card-body">
                            <div id="pie-chart-stromtarif" style="width:100%"></div>
                        </div>
                        <div class="card-header">
                            <a href="https://www.bmwi.de/Redaktion/DE/Infografiken/Energie/strompreise.html" target="_blank">Quelle: BMWI</a>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card alert-primary">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                       <br> Ergebnis Auswahl Stromtarif
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                        Bei einem Fahrverhalten von durchschnittlich 
                                        <b>{{request.session.driving_profile}} km am Tag</b>,
                                        entstehen für Sie folgende Kosten im Monat
                                        <br><br>
                                        <b>Optimal</b> für Sie wäre <b> {{request.session.dyn_stromtarife_opt_tarif}}.
                                        <br><br>
                                        Die Kosten mit Haushaltsstrom liegen bei
                                        <b> {{request.session.dyn_stromtarife_haushaltsstrom_kosten}} € </b>. <br>
                                        Die Kosten mit Ladestrom liegen bei
                                        <b> {{request.session.dyn_stromtarife_ladestrom_kosten}} € </b>. <br>
                                        Die Kosten mit dynamischen Strompreisen liegen bei
                                        <b> {{request.session.dyn_stromtarife_kosten}} € </b>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">   
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                               Dynamische Strompreise <br>
                            </h5>
                            <p>
                                Der erste Anbieter, der im deutschen Raum
                                dynamische Stromstarife anbietet ist 
                                (<a href="https://www.awattar.at/tariffs/hourly" target="_blank">aWATTar</a>). 
                                Mit HOURLY gibt es 24 Preise pro Tag, die auf einer detaillierten Wetterprognose 
                                aufbauen und am Vortag an der Börse EPEX Spot bekanntgegeben werden. Je windiger und sonniger, 
                                desto günstiger der Preis! Mit einem intelligenten Stromzähler, der Ihnen von Ihrem Netzbetreiber 
                                zur Verfügung gestellt wird, wird Ihr Verbrauch stündlich gemessen und die Daten an Ihren Netzbetreiber
                                übermittelt, der sie dann an uns für die Abrechnung weiterleitet. 
                                Durch die exakte Übermittlung Ihres stündlichen Verbrauchs gelingt jeden Monat
                                eine genaue Abrechnung. Sie bezahlen also nur Ihren tatsächlichen Verbrauch und 
                                keine Schätzung oder Einstufung. 
                                <br><br>
                                Der zu zahlende Strompreis setzt sich hierbei aus einem
                                <b>Grundpreis (4,58 € im Monat) </b> und einem <b>Arbeitspreis</b> zusammen. 
                                Der Arbeitspreis berechnet sich dabei durch einen Festbetrag, wie aus der ersten Abbildung 
                                zu entnehmen ist von 18,12 cent/ kWh + EPEX SPOT Preis + 0,25 Cent/kWh zusammen.
                                <br><br>
                                Für ein besseres Verständnis realistischer Preisschwankungen ist in der 
                                rechten Grafik der Strompreis Verlauf an der Strombörse für den Januar 2021
                                dargestellt. Hier lag der Höchstpreis bei 11 Cent/ kWH und der niedrigste 
                                Preis bei genau 0 Cent/ kWh.
                            </p>
                        </div>
                    </div>
                </div>       
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Durchschnittlicher Strompreis im November 2020</h5>
                        </div>
                        <div class="card-body">
                            <div id="mixed-chart-dynamische-strompreise"></div>
                        </div>
                    </div>
                </div>
            </div>   
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var arrival_time = "{{request.session.arrival_time}}"
        var departure_time = "{{request.session.departure_time}}"
        var driving_profile = "{{request.session.driving_profile}}"
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
