{% extends "layouts/base.html" %}

{% block title %} Dashboard Kosten {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
						<div class="card-body">
							<h5 class="mb-3">Einführung Stromtarife</h5>
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item"><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Welche Stromtarife gibt es?</a></li>
								<li class="nav-item"><a class="nav-link text-left" id="v-pills-menu-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-menu" aria-selected="false">Graphisch erklärt!</a></li>
								<li class="nav-item"><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Ihre Vorteile</a></li>
							</ul>
							<div class="tab-content" id="v-pills-tabContent">
								<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <div class= "row">
                                        <div class="col-3">
                                            <p>
                                                <br>
                                            </p>
                                            <img class="img-fluid card-img-top" src="/static/assets/images/slider/stromtarif.png" alt="Card image cap">
                                        </div>
                                        <div class="col-9">
                                            <p class="card-text">
                                                <b>Grün und Günstig Laden</b>
                                                <br><br>
                                                Für das Laden von Elektroautos zuhause kann zwischen unterschiedlichen
                                                Stromtarifen gewählt werden. Grundsätzlich wird hierbei zwischen
                                                <b>Haushaltsstrom</b>, <b>Autostrom</b> und <b>dynamischen Stromtarifen </b> unterschieden.
                                                Eine Übersicht verschiedener Anbieter finden Sie bei 
                                                <b><a href="https://efahrer.chip.de/e-wissen/autostrom-im-vergleich-so-sparen-e-auto-fahrer-trotz-hoher-strompreise_103338" target="_blank">efahrer</a></b>.
                                                <br><br>
                                                Nutzen Sie den <b> Haushaltsstrom </b> für das Laden Ihres Elektroautos, 
                                                so wird der verbrauchte Strom zusammen mit dem restlichen Stromverbrauch
                                                über den Stromzähler des Hauses abgerechnet. Der Vorteil dabei ist, dass keine 
                                                zusätzliche Grundgebühr und Zählerkosten anfallen. Für die Vergleichsrechnung wird hier 
                                                <b><a href="https://www.polarstern-energie.de/wirklich-autostrom/?utm_medium=affiliate&utm_source=awin&utm_campaign=893927_efahrer.chip.de&utm_term=0&awc=14186_1642006770_2300d8ef544db188b07d84548b6659e9" target="_blank">Polarstern</a></b>
                                                verwendet, mit einem <b>Grundpreis von 10,20 € im Monat </b> und <b>47,54 Cent pro kWh</b>.
                                                <br><br>
                                                Bei <b>Autostrom </b> wird ein seperater Stromzähler für die Ladeinfrastruktur verbaut.
                                                Hierdurch bleibt der Stromvertrag für das Haus unverändert und für das Ladesystem
                                                liegt der <b>Grundpreis bei 12,89 €</b> und der <b>Arbeitspreis pro kWh bei 44,09 Cent</b>
                                                <br><br>
                                                Ein <b>dynamischer Stromtarif</b> gibt zeitliche Strompreisschwankungen an den 
                                                Stromkunden weiter. Der Anbieter
                                                <a href="https://www.awattar.at/tariffs/hourly" target="_blank">aWATTar</a> bietet einen
                                                Stromtarif mit einem                          
                                                <b>Grundpreis von 4,58 € im Monat </b> und einem variablen <b>Arbeitspreis</b> an.
                                                <br><br>
                                                <b>Aktuell unterliegen die Strompreise starken Schwankungen, weshalb die 
                                                    hinterlegten Werte ggf. nicht mehr aktuell sind. Die Kalkulation 
                                                    kann trotzdem zum Verständnis betrachtet werden.
                                                </b>  
                                            </p>
                                        </div>
                                    </div>
								</div>
								<div class="tab-pane fade show" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-home-tab">
									<div class= "row">
                                        <div class="col-4">
                                            <p>
                                                <b>Haushatsstrom</b>
                                                <br>
                                                Der von Ihrem Elektroauto geladene Strom wird zusammen mit den anderen Haushaltsgeräten verrechnet.
                                                Bei <b><a href="https://www.polarstern-energie.de/wirklich-autostrom/?utm_medium=affiliate&utm_source=awin&utm_campaign=893927_efahrer.chip.de&utm_term=0&awc=14186_1642006770_2300d8ef544db188b07d84548b6659e9" target="_blank">Polarstern</a></b>
                                                sinkt der Arbeitspreis für den gesamten Haushalt von 44,78 Cent/ kWh auf 47,54 Cent/ kWh leicht ab.
                                            </p>
                                            <img class="img-fluid card-img-top" src="/static/assets/images/slider/ein_stromzaehler.png" alt="Card image cap">
                                        </div>
                                        <div class="col-4">
                                            <p>
                                                <b>Autostrom</b>
                                                <br>
                                                Wenn Sie viel Auto fahren, kann es sich lohnen den Autostrom über einen
                                                zusätzlichen Stromzähler abzurechnen. Bei dem Stromtarif von 
                                                <b><a href="https://www.polarstern-energie.de/wirklich-autostrom/?utm_medium=affiliate&utm_source=awin&utm_campaign=893927_efahrer.chip.de&utm_term=0&awc=14186_1642006770_2300d8ef544db188b07d84548b6659e9" target="_blank">Polarstern</a></b>
                                                lohnt sich dies ab <b>14 km am Tag</b>. Der Autostromtarif kostet Dachneigung
                                                im Monat 12,89 € zzgl. 1,66 € Zählerkosten 
                                                und der Arbeitspreis sinkt auf 44,09 Cent/ kWh.
                                            </p>
                                            <img class="img-fluid card-img-top" src="/static/assets/images/slider/zwei_Stromzaehler.png" alt="Card image cap">
                                        </div>
                                        <div class="col-4">
                                            <p>
                                                <b>Dynamische Stromtarife</b>
                                                <br>
                                                Bei diesem Stromtarif können Sie von den Preisschwankungen an 
                                                der Strombörse profitieren. Bspw. können Sie Ihr Auto
                                                dann laden, wenn der Strom besonders günstig ist.
                                            </p>
                                            <img class="img-fluid card-img-top" src="/static/assets/images/slider/iMsys_stromzaehler.png" alt="Card image cap">
                                        </div>
                                    </div>
                                    <div class="row">
                                        Mehr dazu finden Sie &nbsp;
                                        <b><a href="https://www.verivox.de/strom/autostrom/" target="_blank"> hier</a></b>
                                    </div>
								</div>
								<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
									<p class="mb-0">
                                        <b>Durch die Auswahl eines geeigneten Stromtarifs können folgende Vorteile für Sie entstehen</b> 
                                        <br><br>
                                        <b>1. Kosten sparen:</b> Der Planungsassistent schlägt Ihnen basierend auf Ihrem Verbrauch
                                        und historischen Strompreisen einen optimalen Stromtarif vor.
                                        <br><br>
										<b>2. Umwelt schonen:</b> Alle Stromtarife die hier vorgeschlagen werden, liefern Ökostrom. 
                                        Damit schützen Sie die Umwelt und können zudem die 
                                        <b><a href="https://www.kfw.de/inlandsfoerderung/Privatpersonen/Bestehende-Immobilie/F%C3%B6rderprodukte/Ladestationen-f%C3%BCr-Elektroautos-Wohngeb%C3%A4ude-(440)/" target="_blank">kfW</a></b>
                                        Förderung in Anspruch nehmen.
                                        
									</p>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card alert-primary">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                       <br> Ihre beste Wahl - ein {{request.session.opt_tarif}} mit monatlich {{request.session.dyn_strom_electricity_cost_month_ev_house}} €
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                    Für Ihre Immobilie ergibt sich schätzungsweise
                                    ein monatlicher Stromverbrauch von
                                    <b> {{request.session.electricity_consumption_month_house}} kWh für den Haushalt</b> 
                                    und 
                                    <b> {{request.session.electricity_consumption_month_ev}} kWh für das Elektroauto</b>.
                                    <br><br>
                                    Bei einem Haushaltsstromtarif ergeben sich hieraus Stromkosten 
                                    für das Haus und das Auto zusammen von 
                                    <b> {{request.session.hausstrom_electricity_cost_month_ev_house}} €</b>.
                                    <br><br>
                                    Durch den Autostromtarif entstehen für das Elektroauto Stromkosten von 
                                    <b> {{request.session.ladestrom_electricity_cost_month_ev}} €</b> und zusammen mit
                                    dem Haus von insgesamt 
                                    <b> {{request.session.ladestrom_electricity_cost_month_ev_house}} €</b>.
                                    <br><br>
                                    Durch einen dynamischen Stromtarif lägen die Stromkosten für das Elektroauto
                                    bei <b> {{request.session.dyn_strom_electricity_cost_month_ev}} €</b> und zusammen mit
                                    dem Haus bei insgesamt 
                                    <b> {{request.session.dyn_strom_electricity_cost_month_ev_house}} €</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- [ variant-chart ] end -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Stromsparen durch eine steuerbare Verbrauchseinrichtung?</h5>
                            <p>
                                <br>
                                <b>Wieso ist bei Autostrom der Arbeitspreis günstiger als 
                                    beim Haushaltsstrom?</b><br>
                                Der Stromtarif von 
                                <b><a href="https://www.polarstern-energie.de/wirklich-autostrom/?utm_medium=affiliate&utm_source=awin&utm_campaign=893927_efahrer.chip.de&utm_term=0&awc=14186_1642006770_2300d8ef544db188b07d84548b6659e9" target="_blank">Polarstern</a></b>
                                reduziert Ihren Strompreis je kWh, über das   
                                Prinzip der <b>steuerbaren Verbrauchseinrichtung</b> (SVE).        
                                Durch eine SVE können Sie zuhause dabei helfen 
                                die Netzstabilität zu verbessern und damit Geld sparen.
                                Durch die teils hohe Ladeleistung eines Elektroautos, kann es im Verteilnetz zu
                                Lastspitzen kommen. <br><br>
                                Eine steuerbare Verbrauchseinrichtung ermöglicht es hierbei, dass Ihr Ladevorgang 
                                für 2 Stunden um 50% reduziert werden kann.
                                Als Gegenleistung können Sie Ihren Ladestrom für ein reduziertes Netzentgeld beziehen.
                                Hierdurch sparen Sie rund 3 Cent die kWh.
                                <br><br>
                                Bei einem Fahrverhalten von durchschnittlich 
                                <b>{{request.session.driving_profile}} km am Tag</b> müssen
                                bei einem Verbrauch von 0,2kWh/km im Jahr 
                                <b>{{request.session.jahres_stromverbrauch}} kWh</b> geladen werden.
                                Durch eine SVE und den 3 Cent niedrigeren Strompreis, sparen Sie im Monat 
                                <b>{{request.session.sve_einsparung_monat}} €</b> und im Jahr
                                <b>{{request.session.sve_einsparung_jahr}} €</b>.    
                                <br><br>
                                Von der steuerbaren Verbrauchseinrichtung profitieren Sie dabei nur beim Autostrom.                            
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Auswirkung einer Steuerbaren Verbrauchseinrichtung</h5>
                            <p>
                                Hier können Sie die Ersparnis einer steuerbaren 
                                Verbrauchseinrichtung für Ihre Immobilie betrachten.
                            </p>
                            <div id="mixed-chart-2-SVE"></div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">   
                <div class="card">
                    <div class="card-body">
                        <div class="row">   
                            <div class="col-8">
                                <h5>
                                Erklärung dynamische Stromtarife 
                                </h5>
                                <br>
                                <p>
                                    Der Anbieter 
                                    <b><a href="https://www.awattar.de/tariffs/hourly" target="_blank">aWATTar</a></b> bietet
                                    mit HOURLY einen dynamischen Stromtarif mit 24 Preisen pro Tag an, 
                                    die auf einer detaillierten Wetterprognose 
                                    aufbauen und am Vortag an der Börse EPEX Spot bekanntgegeben werden. 
                                    Hierbei ist <b>nicht der gesamte Strompreis dynamisch</b> sondern lediglich 
                                    der an der Börse gehandelte Anteil.                                    
                                    Während die <b>Steuern, Umlagen, Konzessionsabgaben sowie Netz- und
                                    Messstellenentgelte nicht dynamisch</b> angepasst werden, so 
                                    variiert der Preis für die Beschaffung und den Vertrieb.
                                    Der zu zahlende Strompreis 
                                    berechnet sich hierbei durch: 
                                    <br><br>
                                    <b>Grundpreis im Monat + Arbeitspreis je kWh </b>
                                    = 13,99 € im Monat + (18,12 Cent + EPEX SPOT + 0,25 Cent)* kWh
                                    <br><br>
                                    Die 18,12 Cent ergeben sich hierbei als Festbetrag aus den nicht
                                    variablen Kosten und die 0,25 Cent entstehen für die CO2 Abgabe.
                                    Der EPEX SPOT Preis berechnet sich hierbei dynamisch über die Strombörse.
                                    <br><br>
                                    Die EPEX Spot ist dabei eine Strombörse, an welcher kurzfristig Strom 
                                    beschafft werden kann. 
                                    Für ein besseres Verständnis realistischer Preisschwankungen ist in der 
                                    unteren Grafik der Strompreis Verlauf an der Strombörse für den Januar 2021
                                    dargestellt. Hier lag der Höchstpreis bei 11 Cent/ kWH und der niedrigste 
                                    Preis bei genau 0 Cent/ kWh.
                                </p>
                            </div>
                            <div class="col-4">
                                <h5>Zusammensetzung Strompreis von 31 Cent</h5>
                                <br><br>
                                <div id="pie-chart-stromtarif"></div>
                                <a href="https://www.bmwi.de/Redaktion/DE/Infografiken/Energie/strompreise.html" target="_blank">Quelle: BMWI</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Dynamische Strompreise Jan 2021</h5>
                            <p>
                               Die nachfolgende Grafik zeigt die Strompreisschwankungen für den Januar 2021. Hierbei 
                               geben die Start- und Endwerte jeweils die Strompreise zu Beginn und Ende des Handelstages an.
                               Die Werte Min und Max zeigen hingegen was der höchste und niedrigste Preis an dem Tag war.
                            </p>
                            <div id="dynamische_strompreise_übersicht"></div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var arrival_time = "{{request.session.arrival_time}}"
        var departure_time = "{{request.session.departure_time}}"
        var driving_profile = "{{request.session.driving_profile}}"
        var cable_length = "{{request.session.cable_length}}";
        var usage_years = "{{request.session.usage_years}}";
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
