{% extends "layouts/base.html" %}

{% block title %} Dashboard Allgemein {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h5 class="mb-3">Aufbau Dashboard</h5>
							<div class="row">
								<div class="col-md-3 col-sm-12">
									<ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
										<li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Übersicht Immobilie</a></li>
										<li><a class="nav-link text-left" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-home" aria-selected="false">Empfehlung Ladeinfrastruktur</a></li>
                                        <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Lastmanagement</a></li>
									</ul>
								</div>
								<div class="col-md-9 col-sm-12">
									<div class="tab-content" id="v-pills-tabContent">
										<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
											<p>
												Hier sehen Sie eine beispielhafte Immobilie mit Ihren Konfigurationen.
												Durch <b>klicken auf die farbigen Buttons </b> unterhalb des Bildes, erhalten Sie weitere Informationen zu den Komponenten.	<br>
											 </p>
										</div>
										<div class="tab-pane fade show" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-home-tab">
											<p class="mb-0">
												...
											</p>
										</div>
										<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
											<p class="mb-0">
												...<br>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-xl-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Übersicht Immobilie</h5>
							<p class="card-text">
								Hier sehen Sie eine beispielhafte Immobilie mit Ihren Konfigurationen.
								Durch <b>klicken auf die farbigen Buttons </b> unterhalb des Bildes, erhalten Sie weitere Informationen zu den Komponenten.	<br>
							</p>
							<p>
								TO DOs: Erklärungstext, Beschreibung Komponenten, Individuelle Informationen -> Im Mehrfamilienhaus RFID, bei 4 Wallboxen Lastmanagement, etc.
							</p>
						</div>
						<img class="img-fluid card-img-top" src= {{ real_estate.image_path }} alt="Card image cap">
						<div class="card-body">
							<div class="row">
								<div class="col-xl-3">
									<div id="modalElektroinstattaion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="modalElektroinstattaion">Elektroinstallation</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													<p>
														Jede Wallbox muss mit einem Fehlerstromschutzschalter abgsichert werden. </br> 
														Es sind Leitungsschutzschalter einzubauen.</br> 
														Es wird zum Stromzählen eine moderne Messeinrichtung mit Smart Meter Gateway benötigt. </br> 
														Bilder und Kosten</br> 
														Hausanschlussleistung</br> 
													</p>
												</div>
											</div>
										</div>
									</div>
									<button type="button" class="btn  btn-warning" data-toggle="modal" data-target="#modalElektroinstattaion"><i class="feather mr-2 icon-search"></i>Elektroinstallation</button>
								</div>	
								<div class="col-xl-3">
									<div id="modalHausUndNetz" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="modalHausUndNetz">Haus und Netz</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													<p>
														Für ein Einfamilienhaus muss folgendes beachtet werden </br>
														Für ein Mehrfamilienhaus muss folgendes beachtet werden </br>
														- Erweierbarkeit je nach später installierbaren Wallboxen </br>
														- Zugangsbeschränkung RFID </br>
													</p>
												</div>
											</div>
										</div>
									</div>
									<button type="button" class="btn  btn-secondary" data-toggle="modal" data-target="#modalHausUndNetz"><i class="feather mr-2 icon-search"></i>Haus und Netz</button>
								</div>	
								<div class="col-xl-3">
									<div id="modalLadeinfrastruktur" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="modalLadeinfrastruktur">Ladeinfrastruktur</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													<p>
														Wallbox Empfehlung je nach Preis und Leistung </br>
														Stecker Typ und Kombaitbilität </br>
														Ladegeschwindigkeit je nach Anzahl Wallboxen und Hausanschlussleistung </br>
														Smart Charging </br>
													</p>
												</div>
											</div>
										</div>
									</div>
									<button type="button" class="btn  btn-info" data-toggle="modal" data-target="#modalLadeinfrastruktur"><i class="feather mr-2 icon-search"></i>Ladeinfrastruktur</button>
								</div>	
								<div class="col-xl-3">
									<div id="modalElektrofahrzeug" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="modalElektrofahrzeug">Elektofahrzeug</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													<p>
														Kompatibilität Stecker </br>
														Eignung der Batterie, des Batteriemanagementsystems und des Bordladegeräts </br>
														Reichweite und Ladegeschwindigkeit </br>
													</p>
												</div>
												
											</div>
										</div>
									</div>
									<button type="button" class="btn  btn-danger" data-toggle="modal" data-target="#modalElektrofahrzeug"><i class="feather mr-2 icon-search"></i>Elektrofahrzeug</button>
								</div>
							</div>
						</div>
					</div>						
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h5>
								Empfehlung Wallbox, Ladeinfrastruktur und Lastmanagmenet <br>
							</h5>
							<p>
								Bei der <b>Wallbox</b> ist das Modell ... zu empfehlen, welches ... Kostet (RFID, Lastmanagement nötig, erweiterbar, Modell offen) <br>
								Für das <b>Lastmanagement</b> empfiehlt sich ein ... (Backend, Controller, Leader-Follower) Modell. (Lastmanagement, erweiterbar, Modell offen) Dieses funktioniert wie folgt ...<br>
								Bei der <b>Installation</b> muss zudem auf die richtigen Elektronikkomponenten geachtet werden. Für Ihren Fall wird ein Leitungsschutzschalter Modell ... (3 Phasen, 16 A, Anzahl Wallboxen, Preis ...) <br>
								Es sollte zudem ein seperater <b>Stromzähler</b> installiert werden. Hierdurch können Sie Ladestrom beziehen (Preise, Grafik)
							</p>
							<p>
								<b>To Dos: Was ist grundsätzlich und was hat mit Smart Charging zu tun? Trennen Mindestanforderung vs. smart! Auch Stromfluss und Internet/ Daten trennen! </b>
								TO DOs: Übersicht wichtige Kriterien für Auswahl, Auswahlbaum für LIS Empfehlung, Sensitivitäten aufzeigen.
							</p>
						</div>
						<img class="img-fluid card-img-top" src="/static/assets/images/slider/leader-follower-system.jpg" alt="Card image cap">
						
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
							<h5 class="card-title">Unterschiede Lastmanagement</h5>
							<p class="card-text">
								Lastmanagement: Ein Lastmanagemnet kann die verfügbare Leistung auf 
								die angeschlossenen Fahrzeuge verteilen und somit den möglicherweise 
								erfolderlichen Ausbau des Netzanschlusses verhindern. <br><br>
								Damit die Enerieversrgung zuverlässig und problemlos ablaufen kann, ist ein 
								passendes Lastmanagement notwendig. <br>
								Wenn die Summe aller Ladeströme die maximale Vorgabe der Stromwerte überschreitet, 
								greift das Lastmanagement ein und reduziert die Ladeströme. <br>
								Die Reduktion der Ladeströme kann hierbei entweder gleichmäßig für alle Ladepunkte 
								erfolgen oder einer Priorisierung folgen. Bspw. wenn zuerst die Fahrzeuge mit dem 
								niedrigsten Ladestand geladen werden. <br>
								Bei der Festlegung der maximalen Ladeströme kann zwischen einem statischen und dynamischen
								Lastmanagement unterschieden werden. <br>
								Im Gegensatz zum statischen Lastmanagement wird beim dynamischen Lastmanagement die maximale Anschlussleistung
								in Abhängigkeit von dem aktuellen Stromverbrauch des Gebäudes berechnet. Nachts wenn wenig Strom 
								für Haushaltsgeräte benötigt wird, kann dann mehr Strom für das Laden der Elektrofahrzeuge 
								verwendet werden. <br>

								TO DOs: Diagaramm: Hausanschluss, SLP, Abweichung -> dynamisch, statisch, Empfehlung statisch oder dynamisch <br>
							</p>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Lastprofil Haushalt</h5>
							<p>
								Anhand dieser Grafik können Sie beispielhaft erkennen, wie der Lastgang ihres Haushaltes 
								aussehen könnte. Durch ein Lastmanagement wird das Elektrofahrzeug intelligent geladen, 
								damit eine kostenspielige Netzanschlusserweiterung vermieden werden kann. 
							</p>                        
                            <div id="lastmanagement-dynamisch-statisch"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="col-xl-12">
				<h5>Mehr erfahren zu Smart Charging</h5>
				<hr>
				<div class="row">
					<div class="col-md-0 col-xl-3">
						<div class="card mb-3">
						</div>
					</div>
					<div class="col-md-6 col-xl-3">
						<a href="/db_costs.html" class="nav-link ">
							<div class="card mb-3">
								<img class="img-fluid card-img-top" src="/static/assets/images/slider/sc_kosten_vorteil.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Kostenvorteile</h5>
									<p class="card-text">
										Lernen Sie mehr zu den Kostenvorteilen von Smart Charging.
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-xl-3">
						<a href="/db_renewables.html" class="nav-link ">
							<div class="card mb-3">
								<img class="img-fluid card-img-top" src="/static/assets/images/slider/sc_umwelt_vorteil.png" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Umweltvorteile</h5>
									<p class="card-text">
										Lernen Sie mehr zu den Umweltorteilen von Smart Charging. <br>
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
