{% extends "layouts/base.html" %}

{% block title %} Dashboard Allgemein {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Was ist ein Lastmanagement?</h5>
                            </div>
                            <p class="card-text">
                              Ein Lastmanagement ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            	
			<div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
							<h5 class="card-title">Statisches und Dynamisches Lastmanagement</h5>
							<p class="card-text">
								Lastmanagement: Ein Lastmanagemnet kann die verfügbare Leistung auf 
								die angeschlossenen Fahrzeuge verteilen und somit den möglicherweise 
								erfolderlichen Ausbau des Netzanschlusses verhindern. <br><br>
								Damit die Enerieversrgung zuverlässig und problemlos ablaufen kann, ist ein 
								passendes Lastmanagement notwendig. <br>
								Wenn die Summe aller Ladeströme die maximale Vorgabe der Stromwerte überschreitet, 
								greift das Lastmanagement ein und reduziert die Ladeströme. <br>
								Die Reduktion der Ladeströme kann hierbei entweder gleichmäßig für alle Ladepunkte 
								erfolgen oder einer Priorisierung folgen. Bspw. wenn zuerst die Fahrzeuge mit dem 
								niedrigsten Ladestand geladen werden. <br>
								Bei der Festlegung der maximalen Ladeströme kann zwischen einem statischen und dynamischen
								Lastmanagement unterschieden werden. <br>
								Im Gegensatz zum statischen Lastmanagement wird beim dynamischen Lastmanagement die maximale Anschlussleistung
								in Abhängigkeit von dem aktuellen Stromverbrauch des Gebäudes berechnet. Nachts wenn wenig Strom 
								für Haushaltsgeräte benötigt wird, kann dann mehr Strom für das Laden der Elektrofahrzeuge 
								verwendet werden. <br>

								TO DOs: Diagaramm: Hausanschluss, SLP, Abweichung -> dynamisch, statisch, Empfehlung statisch oder dynamisch <br>
							</p>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Lastprofil Haushalt</h5>
							<p>
								Anhand dieser Grafik können Sie beispielhaft erkennen, wie der Lastgang ihres Haushaltes 
								aussehen könnte. Durch ein Lastmanagement wird das Elektrofahrzeug intelligent geladen, 
								damit eine kostenspielige Netzanschlusserweiterung vermieden werden kann. 
							</p>                        
                            <div id="lastmanagement-dynamisch-statisch"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
							<h5 class="card-title">Backend, Controller, Leader, Follower</h5>
							<p class="card-text">
								Lastmanagement: Ein Lastmanagemnet kann die verfügbare Leistung auf 
								die angeschlossenen Fahrzeuge verteilen und somit den möglicherweise 
								erfolderlichen Ausbau des Netzanschlusses verhindern. <br><br>
								Damit die Enerieversrgung zuverlässig und problemlos ablaufen kann, ist ein 
								passendes Lastmanagement notwendig. <br>
								Wenn die Summe aller Ladeströme die maximale Vorgabe der Stromwerte überschreitet, 
								greift das Lastmanagement ein und reduziert die Ladeströme. <br>
								Die Reduktion der Ladeströme kann hierbei entweder gleichmäßig für alle Ladepunkte 
								erfolgen oder einer Priorisierung folgen. Bspw. wenn zuerst die Fahrzeuge mit dem 
								niedrigsten Ladestand geladen werden. <br>
								Bei der Festlegung der maximalen Ladeströme kann zwischen einem statischen und dynamischen
								Lastmanagement unterschieden werden. <br>
								Im Gegensatz zum statischen Lastmanagement wird beim dynamischen Lastmanagement die maximale Anschlussleistung
								in Abhängigkeit von dem aktuellen Stromverbrauch des Gebäudes berechnet. Nachts wenn wenig Strom 
								für Haushaltsgeräte benötigt wird, kann dann mehr Strom für das Laden der Elektrofahrzeuge 
								verwendet werden. <br>

								TO DOs: Diagaramm: Hausanschluss, SLP, Abweichung -> dynamisch, statisch, Empfehlung statisch oder dynamisch <br>
							</p>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Empfehlung</h5>
							<p>
								Anhand dieser Grafik können Sie beispielhaft erkennen, wie der Lastgang ihres Haushaltes 
								aussehen könnte. Durch ein Lastmanagement wird das Elektrofahrzeug intelligent geladen, 
								damit eine kostenspielige Netzanschlusserweiterung vermieden werden kann. 
							</p>    
                            <img class="img-fluid card-img-top" src="/static/assets/images/slider/leader-follower-system.jpg" alt="Card image cap">
						                    
                        </div>
                    </div>
                </div>
            </div>

			<div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                               Verlustleistung und Kosten <br>
                            </h5>
                            <p>
                                Damit mit der Wallbox geladen werden kann, muss diese mit einem <b>Kupferkabel</b> an den Stromkreis angeschlossen werden. <br>
                                Bei der Wahl des Kabels ist dabei auf den <b>Querschnitt</b> der Leitung zu achten. <br>
                                Wie groß der Querschnitt minimal gewählt werden muss, hängt von der <b>Verlegeart</b> (auf der Wand oder in der Wand) und der Stromstärke ab. <br>
                                Mehr Informationen finden Sie bei der VDE unter <a href="https://www.vde-verlag.de/buecher/leseprobe/9783800746910_PROBE_01.pdf" target="_blank">VDE</a> <br>
                                Für Ihren Fall kann aber angenommen werden, dass das Kabel auf der Wand verlegt wird, Drehstrom durch 3 Adern fließt und eine Stromstärke von 16 Ampere anliegt. <br>
                                Die minimale Kabeldicke von 1.5 mm2 ist damit technisch ausreichend. <br><br>
                                Bei der Wahl des Kabels ist neben den technischen Mindestanforderungen auch der <b>Kaufpreis</b> und die <b>Verlustenergie</b> entscheidend. <br>
                                1. Der Kaufpreis orientiert sich bei dem Mantelkabel an dem Querschnitt. Mögliche Preise finden Sie <a href="https://www.hornbach.de/shop/Kabel-Kabelschutz/Kabel-Leitungen/S4080/artikelliste.html" target="_blank">hier</a> <br>
                                Die Preise reichen von rd. 1€/m bei 1,5mm2 bis 12 €/m bei 16 mm2. <br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Verlustleistung Kabel</h5>
                            <p>
                                <br>
                                2. Die Verlustenergie steigt mit der Länge und sinkt mit dem Querschnitt des Kabels. <br>
                                Die Verlustenergie berechnet sich durch: ... Bild
                                Im Folgenden sehen Sie die Verlustleistung in Abhängigkeit der Länge und des Querschnitts:
                            </p>
                            <div id="area-chart-1-verlustleistung"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Optimale Dimensionierung Kabel</h5>
                            <div id="area-chart-1-cable-costs"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var driving_profile = "{{request.session.driving_profile}}";
        var cable_length = "{{request.session.cable_length}}";
        var usage_years = "{{request.session.usage_years}}";
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
