{% extends "layouts/base.html" %}

{% block title %} Dashboard Allgemein {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Was ist ein Lastmanagement?</h5>
                            </div>
                            <p class="card-text">
                                <b>Auf dieser Seite wird auf das passende Lastmanagement für Ihre Immobilie eingegangen</b>
                                <br><br>
                                <b>Was ist ein Lastmanagement? </b>
                                Eine wesentliche Komponente bei der Umsetzung von Smart Charging 
                                Konzepten spielt das <b>Lastmanagement</b>. Ein Lastmanagementsystem begrenzt 
                                die an den Ladepunkten verfügbare Gesamtleistung zum Laden der EVs. 
                                Ganz allgemein kann es bei Ihrer Immobilie dabei dazu drei Anwenudngsfällen kommen.
                                <br><br>
                                - Es wird kein Lastmanagement benötigt und Sie können Ihr Elektroauto jeder Zeit mit voller
                                Leistung laden können (Annahme: max. Ladeleistung 11 kW, da mehr nicht durch die 
                                kfW gefördert wird, siehe
                                <b>(<a href="https://www.kfw.de/inlandsfoerderung/Privatpersonen/Bestehende-Immobilie/F%C3%B6rderprodukte/Ladestationen-f%C3%BCr-Elektroautos-Wohngeb%C3%A4ude-(440)/" target="_blank">kfW Förderung</a>)</b>)
                                <br>
                                - Es wird ein Lastmanagement benötigt, um die verfügbare Ladeleistung auf die Wallboxen zu verteilen.
                                Hierbei kann zwischen einem <b>dynamischen und statischen Lastmanagement unterschieden </b>
                                werden. Ein <b>dynamisches Lastmanagementsystem</b> berücksichtigt dabei den aktuellen Leistungsbedarfs 
                                der übrigen Verbraucher (Waschmaschine, Herd, etc.), wohingegen ein 
                                <b>statisches Lastmanagement</b> eine feste Leistungsgrenze vorkonfiguriert. <br>
                                - Auch ein Lastmanagement ist nicht ausreichend und die Hausanschlussleistung muss erweitert werden.                             
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card alert-primary">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                       <br> Beste Wahl: {{request.session.opt_lastmanagement}}
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                        Für Ihren Anwendungsfall wäre <b>{{request.session.opt_lastmanagement}}</b> die beste Lösung.
                                       <br><br>
                                        Bei einem <b>statisches Lastmanagement</b> hat Ihre gesamte Immobilie schätzungswiese eine maximale Leistungsnachfrage von 
                                        <b> {{request.session.stat_Leistungs_peak_ohne_ev_kW}} kW</b>. 
                                        Durch die 
                                        Hausanschlussleistung von <b> {{request.session.house_connection_power}} kW</b>,
                                        ergibt sich hieraus eine
                                        verfügbare Leistung von 
                                        <b> {{request.session.stat_verfuegbare_ladeleistung_fuer_alle_wallboxen}} kW</b> für alle Wallboxen
                                        und von 
                                        <b> {{request.session.stat_verfuegbare_ladeleistung_fuer_wallbox}} kW für jede der
                                        {{request.session.charging_points_to_install}} Wallboxen </b>.
                                        <br><br>   
                                        Bei einem <b>dynamischen Lastmanagement</b> ergibt sich eine
                                        verfügbare Leistung von 
                                        <b> {{request.session.dyn_verfuegbare_ladeleistung_fuer_alle_wallboxen}} kW</b> für alle Wallboxen
                                        und von 
                                        <b> {{request.session.dyn_verfuegbare_ladeleistung_fuer_wallbox}} kW für jede der
                                        {{request.session.charging_points_to_install}} Wallboxen </b>. 
                                        <br><br>
                                        Mit der angegebenen Ankunftszeit um <b>{{request.session.arrival_time}} Uhr</b> und
                                        einer Abfahrtszeit um <b>{{request.session.departure_time}} Uhr</b>, 
                                        haben sie <b> {{request.session.hours_to_charge}} Stunden
                                        Zeit zu laden</b>.
                                        Bei einem Fahrverhalten von durchschnittlich 
                                        <b>{{request.session.driving_profile}} km am Tag</b>, benötigen Sie 
                                        <b>{{request.session.needed_electricity_ev_day}} kWh </b> Strom um Ihr
                                        Auto wieder voll zu laden (Annahme: 0,2 kWh/km).
                                        <br><br>
                                        Hiermit könnte das Auto mit einem <b>statischen Lastmanagement</b> in
                                        <b> {{request.session.stat_needed_time_to_charge}} Stunden</b> laden und
                                        mit einem <b>dynamischen Lastmanagement</b> in 
                                        <b> {{request.session.dyn_needed_time_to_charge}} Stunden</b>. 
                                        <br><br>
                                        <b>Annahme: </b> Wenn sowohl ein statisches, als auch ein dynamisches Lastmanagement ausreichen,
                                        wird für die folgenden Kalkulationen ein dynamisches Lastmanagement angenommen, um die zusätzliche Flexibilit zu nutzen.                                                                                                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
							<h5 class="card-title">Statisches und Dynamisches Lastmanagement</h5>
							<p class="card-text">
                                <b>Welche Annahmen werden hierbei getroffen?</b> Grundsätzlich bestimmt die 
                                die Hausanschlussleistung Ihrer Immobilie 
                                (<b>{{request.session.house_connection_power}} kW</b>), wie viel Strom Sie zu einem gewissen 
                                Zeitpunkt zur Verfügung haben. Wenn Sie bspw. über eine Stunde {{request.session.house_connection_power}} kW
                                abfragen, dann verbrauchen Sie {{request.session.house_connection_power}} kWh Strom. <br>
                                Unter dieser <b><a href="https://www.voltimum.de/sites/www.voltimum.de/files/fields/attachment_file/de/others/E/200407146820PlanungundBemessungHauptstromversorgungssysteme.pdf" target="_blank">Übersicht</a></b>
                                finden Sie auf Seite 12, welche max. Leistungsnachfrage (in Abhängigkeit der Anzahl an Wohnungen in einer Immobilie 
                                und der Art der Warmwasseraufbereitung) standardmäßig angenommen wird.
                                In Ihrem Fall liegt diese bei <b> {{request.session.stat_Leistungs_peak_ohne_ev_kW}} kW</b>.
                                Aus der Differenz zur Hausanschlussleistung und der max. Leistungsnachfrage ergibt sich dann, 
                                dass in Ihrer Immobilie 
                                <b> {{request.session.stat_verfuegbare_ladeleistung_fuer_alle_wallboxen}} kW</b> für alle Wallboxen
                                zur Verfügung stehen. Bei 
                                <b> {{request.session.charging_points_to_install}} zu installierden Wallboxen</b> 
                                bleiben für jede Wallbox somit 
                                <b> {{request.session.stat_verfuegbare_ladeleistung_fuer_wallbox}} kW</b>.
								<br><br>
                                Beim <b>dynamischen Lastmanagement</b> wird hingegen anders vorgegangen.
                                Hier wird die aktuell nachgefragte Leistung gemessen und die restliche 
                                verfügbare Leistung zum Laden freigegeben. 
                                Hierbei steht Ihnen deutlich mehr
                                Leistung zur Verfügung. Grund hierfür ist, dass beim statischen Lastmanagement
                                die max. Leistungsnachfrage berücksichtigt werden muss, die evtl. aber nur einmal pro Jahr auftritt
                                (<b> {{request.session.stat_Leistungs_peak_ohne_ev_kW}} kW</b>), während Sie aber durchschnittlich
                                bedeutend weniger Leistung benötigen.
                                Um in dieser Software Ihre leistungsnachfrage nicht messen zu müssen, wird diese wie folgt
                                geschätzt.
                                Um den elektrischen Energieverbrauch der Verbraucher abschätzen zu können
                                werden sogenannte <b>Lastprofile</b> erstellt. Der VDEW führt zwölf verschiedene Arten von 
                                <b>Standardlastprofilen</b> für 
                                unterschiedliche Kundengruppen (Haushalt, Landwirtschaft und Gewerbe) auf
                                (<b><a href="https://www.bdew.de/media/documents/2000131_Anwendung-repraesentativen_Lastprofile-Step-by-step.pdf" target="_blank">hier, Seite 9</a></b>).
                                Diese beruhen auf tatsächlichen Messungen einer Vielzahl solcher Haushalte, deren Lastgänge 
                                anschließend gemittelt und auf einen Leistungswert normiert wurden.
                                Der Jahresenergieverbrauch Ihrer Immobilie 
                                (<b> {{request.session.electricity_consumption_year}} kWh</b>),
                                wird dabei auf einen Tag umgerechnet und das entsprechende
                                Standardlastprofil für Haushalte mit diesem Wert skaliert. Das Ergebnis
                                sehen Sie in der Abbildung rechts.
                                <br><br> 
                                Mit der angegebenen Ankunftszeit um <b>{{request.session.arrival_time}} Uhr</b> und
                                einer Abfahrtszeit um <b>{{request.session.departure_time}} Uhr</b>, 
                                haben sie <b> {{request.session.hours_to_charge}} Stunden
                                Zeit zu laden</b>.
                                Bei einem Fahrverhalten von durchschnittlich 
                                <b>{{request.session.driving_profile}} km am Tag</b>, benötigen Sie 
                                <b>{{request.session.needed_electricity_ev_day}} kWh </b> Strom um Ihr
                                Auto wieder voll zu laden (Annahme: 0,2 kWh/km).
                                <br><br>
                                Hiermit könnte das Auto mit einem <b>statischen Lastmanagement</b> in
                                <b> {{request.session.stat_needed_time_to_charge}} Stunden</b> laden und
                                mit einem <b>dynamischen Lastmanagement</b> in 
                                <b> {{request.session.dyn_needed_time_to_charge}} Stunden</b>.
								</p>
						</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Lastprofil Ihrer Immobilie</h5>
                            <p>
                                Bei einer Immobilie vom Typ
                                <b> {{request.session.property_type}}</b>, mit insgesamt 
                                <b> {{request.session.number_properties}}</b>
                                Wohneinheiten sowie einer Warmwasseraufbereitung
                                <b> {{request.session.water_heating}}</b>,
                                liegt der Jahresenergieverbrauch bei 
                                <b> {{request.session.electricity_consumption_year}} kWh</b>
                                und der Tagesenergieverbauch bei
                                <b> {{request.session.electricity_consumption_day}} kWh</b>.
                                Hieraus ergibt sich das folgende Lastprofil Ihrer Immobilie
                            </p>                        
                            <div id="lastprofil"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
                <div class="row">
				<div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Technische Umsetzung Lastmanagement</h5>
							<p class="card-text">
								Grundsätzlich kann bei Lastmanagementsystemen zwischen <b>drei 
                                grundlegenden Verfahren</b> unterschieden werden. <br><br>
                                - einem <b>Backensystem</b>, bei welchem eine cloudbasierte Software
                                die Steuerung übernimmt, <br>
                                - ein <b>Leader-Follower System</b>, bei welchem eine Leader-Wallbox
                                die anderen Follower-Wallboxen steuert <br>
                                - ein <b>Controller</b>, welcher die Steruerung der Wallbox vor Optimaler
                                durchführt.
                                <br><br>
                                Die Systeme verfolgen je nach Hersteller unterschiedliche Lösungsansätze:
                                Bei <b>geschlossenen Systemen</b> ist nur 
                                die Integration von Wallboxen des gleichen Typs möglich. 
                                Im Gegensatz dazu können bei <b>offenen Systemen</b> 
                                Wallboxen unterschiedlicher Hersteller in das Lastmanagement-System 
                                eingebunden werden.
							</p>  
                            <img class="img-fluid card-img-top" src="/static/assets/images/slider/leader-follower-system.jpg" alt="Card image cap">
						                    
                        </div>
                    </div>
                </div>
            </div>
            -->
            
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var electricity_consumption_year =  "{{request.session.electricity_consumption_year}}"
        var electricity_consumption_day = Number(electricity_consumption_year/365).toFixed(2);
        var driving_profile = "{{request.session.driving_profile}}";
        var cable_length = "{{request.session.cable_length}}";
        var usage_years = "{{request.session.usage_years}}";
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
