{% extends "layouts/base.html" %}

{% block title %} Dashboard Allgemein {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Was ist ein Lastmanagement?</h5>
                            </div>
                            <p class="card-text">
                                Eine wesentliche Komponente bei der Umsetzung von Smart Charging 
                                Konzepten spielt das <b>Lastmanagement</b>. Ein Lastmanagementsystem begrenzt 
                                die an den Ladepunkten verfügbare Gesamtleistung zum Laden der EVs. 
                                <br><br>
                                Hierbei kann zwischen einem <b>dynamischen und statischen Lastmanagement unterschieden </b>
                                werden. Ein <b>dynamisches Lastmanagementsystem</b> bestimmt dynamisch das Leistungsniveau 
                                zu einem bestimmten Zeitpunkt unter Berücksichtigung des aktuellen Leistungsbedarfs 
                                der übrigen Verbraucher. Im Gegensatz dazu wird bei 
                                <b>statischen Lastmanagementsystemen</b> eine feste Leistungsgrenze vorkonfiguriert. 
                                Diese bestimmt sich aus der Differenz zwischen der Netzanschlusskapazität und 
                                dem maximalen Leistungsbedarf der übrigen Verbraucher. Bei einem dynamischen 
                                Lastmanagement hingegen wird der Leistungsbedarf der Verbraucher als flexibel angesehen. 
                                So kann beispielsweise Nachts mehr Leistung für das Laden der EVs bereitgestellt werden.
                                <br><br>
                                Um den elektrischen Energieverbrauch der Verbraucher abschätzen zu können benötigen 
                                Energielieferanten sogenannte <b>Lastprofile</b>. Der VDEW führt zwölf verschiedene Arten von 
                                <b>Standardlastprofilen</b> auf. SLP sind repräsentative Lastprofile, die für die 
                                unterschiedlichen Kundengruppen (Haushalt, Landwirtschaft und Gewerbe) angewendet werden, 
                                bei denen jeweils ein ähnliches Abnahmeverhalten anzunehmen ist. Diese
                                beruhen auf tatsächlichen Messungen einer Vielzahl solcher Haushalte, deren Lastgänge 
                                anschließend gemittelt und auf einen Leistungswert normiert wurden.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Lastprofil Haushalt</h5>
                            <p>
                                Anhand dieser Grafik können Sie beispielhaft erkennen, wie der Lastgang ihres Haushaltes 
                                aussehen könnte.
                            </p>                        
                            <div id="lastprofil"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card alert-primary">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                       <br> Ergebnis Auswahl Lastmanagement
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                        Mit einer/ einem <b> {{request.session.property_type}} </b> mit 
                                        <b> {{request.session.number_persons}} </b> und einer Warmwasser Aufereitung
                                        <b> {{request.session.water_heating}} </b> Verbrauchen Sie im Jahr 
                                        <b> {{request.session.electricity_consumption_year}} kWh </b> Strom.
                                        <br><br>
                                        Bei einem Fahrverhalten von durchschnittlich 
                                        <b>{{request.session.driving_profile}} km am Tag</b>,
                                       ...
                                       <b>
                                        TO DO: Ihre minimale Ladegeschwindigkeit ist ... <br>
                                        TO DO: Für Ihr Fahrprofil müssen Sie hiermit maximal täglich  ... Stunden laden <br>
                                        TO DO: Durch eine SVE würden Sie ... weniger laden können <br>
                                        </b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
							<h5 class="card-title">Statisches und Dynamisches Lastmanagement</h5>
							<p class="card-text">
								...

								</p>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Lastprofil Haushalt</h5>
							<p>
								Anhand dieser Grafik können Sie beispielhaft erkennen, wie der Lastgang ihres Haushaltes 
								aussehen könnte. Durch ein Lastmanagement wird das Elektrofahrzeug intelligent geladen, 
								damit eine kostenspielige Netzanschlusserweiterung vermieden werden kann. <br><br>
							</p>                        
                            <div id="lastmanagement"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
							<h5 class="card-title">Technische Umsetzung Lastmanagement</h5>
							<p class="card-text">
								Grundsätzlich kann bei Lastmanagementsystemen zwischen <b>drei 
                                grundlegenden Verfahren</b> unterschieden werden. <br><br>
                                - einem <b>Backensystem</b>, bei welchem eine cloudbasierte Software
                                die Steuerung übernimmt, <br>
                                - ein <b>Leader-Follower System</b>, bei welchem eine Leader-Wallbox
                                die anderen Follower-Wallboxen steuert <br>
                                - ein <b>Controller</b>, welcher die Steruerung der Wallbox vor Optimaler
                                durchführt.
                                <br><br>
                                Die Systeme verfolgen je nach Hersteller unterschiedliche Lösungsansätze:
                                Bei <b>geschlossenen Systemen</b> wie denen von ABL, KEBA und WEBASTO ist nur 
                                die Integration von Wallboxen des gleichen Typs möglich. 
                                Das hat den Vorteil, dass der Hersteller das System genau auf seine
                                Produkte auslegen kann. Erweiterungen mit Wallboxen anderer Hersteller 
                                sind jedoch nicht möglich und es ist ungewiss, ob künftige Wallboxen des 
                                Herstellers bei späteren Erweiterungen der Ladepunktanzahl abwärtskompatibel 
                                sein werden. <br>
                                Im Gegensatz dazu können bei <b>offenen Systemen</b> (wie ChargePilot“ von The Mobility 
                                House (TMH)) Wallboxen unterschiedlicher Hersteller in das Lastmanagement-System 
                                eingebunden werden. Sie bauen auf dem standardisierten Open Charge Point Protokoll 
                                (OCPP) auf. Hierbei ist der Integrationsaufwand beim Hersteller zwar höher, 
                                die Auswahl der Wallboxen für den Anwender jedoch weitaus größer und er
                                muss sich nicht von vorneherein auf eine Variante festlegen.
							</p>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Empfehlung</h5>
							<p>
								Anhand dieser Grafik können Sie beispielhaft erkennen, wie der Lastgang ihres Haushaltes 
								aussehen könnte. Durch ein Lastmanagement wird das Elektrofahrzeug intelligent geladen, 
								damit eine kostenspielige Netzanschlusserweiterung vermieden werden kann. 
							</p>    
                            <img class="img-fluid card-img-top" src="/static/assets/images/slider/leader-follower-system.jpg" alt="Card image cap">
						                    
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var electricity_consumption_year =  "{{request.session.electricity_consumption_year}}"
        var electricity_consumption_day = Number(electricity_consumption_year/365).toFixed(2);
        var driving_profile = "{{request.session.driving_profile}}";
        var cable_length = "{{request.session.cable_length}}";
        var usage_years = "{{request.session.usage_years}}";
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
