{% extends "layouts/base.html" %}

{% block title %} Dashboard Umwelt {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
						<div class="card-body">
							<h5 class="mb-3">Einführung PV und Speicher</h5>
							<div class= "row">
                                <div class="col-8">
                                    <p class="card-text">
                                        Durch eine eigene <b>PV-Anlage</b> auf Ihrem Dach können Sie selber
                                        Strom erzeugen. Das lohnt sich für
                                        Sie direkt doppelt, denn zum einen können
                                        Sie den Strom selber nutzen und so 
                                        <b>Stromkosten sparen</b> und zum anderen können Sie 
                                        den Strom auch <b>an das Netz verkaufen</b>. 
                                        In Kombination mit einem <b>Speicher</b>, kann der Eigenverbrauch 
                                        der PV-Anlage dabei deutlich erhöht werden. Dies ist sinnvoll, da
                                        die Einspeisevergütung für Solarstrom   
                                        2022 bei nur 6,63 Cent/ kWh liegt.
                                        <br><br>
                                        Solange die PV-Erzeugung niedriger ist, als der aktuelle <b>Verbrauch des
                                        Gebäudes</b>, wird der Strom direkt für den Haushalt genutzt. Sobald die PV-Erzeugung den
                                        Verbrauch überschreitet, wird geprüft, ob das Elektroauto angeschlossen 
                                        ist und einen Ladebedarf hat. Ist dies der Fall wird der überschüssige 
                                        <b>Solarstrom für das Auto</b> verwendet. Ist dieses nicht angeschlossen oder 
                                        voll, wird der <b>Speicher geladen</b> und wenn auch dieser gefüllt ist, 
                                        wird der restliche Strom ans <b>Netz verkauft</b>.   
                                    </p>
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/pv_speicher_home.svg" alt="Card image cap">
                                </div>
                            </div>
						</div>
					</div>
                </div>
            </div>
            <div class="row">
                <!-- order-card start -->
                <div class="col-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6>Gewinn nach 10 Jahren</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-credit-card float-left"></i><span>{{request.session.gewinn_10_jahre}} €</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6 >Strom Eigenversorgung</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-sun float-left"></i><span>{{request.session.quote_eigenversorgung}} %</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6>PV-Strom Eigenverbrauch</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-sun float-left" ></i><span>{{request.session.quote_pv_nutzung}} %</span></h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6>PV-Erzeugung täglich</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-zap float-left" ></i><span>{{request.session.electricity_pv_generation_day}} kWh</span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="background-color:#D9DADD;">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    {% if request.session.pv_speicher_sinnvoll == "sinnvoll" %}
                                        <img class="img-fluid card-img-top" src="/static/assets/images/slider/success_blue.png" alt="Card image cap">
                                    {%else %}
                                        <img class="img-fluid card-img-top" src="/static/assets/images/slider/failure_blue.png" alt="Card image cap">
                                    {%endif%}
                                </div>
                                <div class="col-11">
                                    <h5>
                                        <br> Die ausgewählte PV-Speicher-Kombination ist {{request.session.pv_speicher_sinnvoll}}
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                        Mit einer Fläche von <b> {{request.session.roof_size}} </b> m&#178 können Sie eine
                                        Anlage der Größe <b> {{request.session.pv_kW_peak}} kWpeak </b> bauen und 
                                        Ihr Speicher hat eine Kapazität von
                                        <b> {{request.session.battery_kWh}} kWh </b>.
                                        Bei einer Dachneigung von 
                                        <b> {{request.session.roof_tilt}}°</b>, einer 
                                        <b> {{request.session.roof_orientation}}-Ausrichtung</b> und einer
                                        Sonneneinstrahlung von 
                                        <b> {{request.session.solar_radiation}} kWh/ kWpeak</b>,
                                        können Sie täglich
                                        <b> {{request.session.electricity_pv_generation_day}} kWh</b>
                                        Strom erzeugen. 
                                        <br><br>
                                        
                                        Bei einem Fahrverhalten von durchschnittlich 
                                        <b>{{request.session.driving_profile}} km am Tag</b> benötigen Sie 
                                        täglich
                                        <b>{{request.session.needed_electricity_ev_day}} kWh </b> Strom.
                                        Unter Berücksichtigung Ihrer Ankunfts- und Abfahrtszeiten können durch die
                                        PV-Anlage hiervon 
                                        <b> {{request.session.ev_charged_electricity}} kWh</b>
                                        geladen werden. Von dem verbleibenden Strom, 
                                        werden 
                                        <b> {{request.session.battery_status}} kWh</b> gespeichert, 
                                        <b> {{request.session.electricity_saved}} kWh</b>
                                        direkt in Ihrem Haushalt verbraucht und
                                        <b> {{request.session.electricity_sold_grid}} kWh</b>
                                        an das Netz verkauft.
                                        <br><br>
                                        Hiermit sparen/ verdienen Sie täglich
                                        <b> {{request.session.einnahmen_tag}} €</b> und
                                        im Jahr 
                                        <b> {{request.session.einnahmen_jahr}} €</b>.
                                        Die Investitionskosten für Ihre PV-Anlage liegen bei
                                        <b> {{request.session.pv_investment_cost_eur}} €</b> (1852,88 €/ kWpeak)
                                        und für Ihren Speicher bei 
                                        <b> {{request.session.battery_investment_cost_eur}} €</b> (350 €/ kWh).
                                        Insgesamt kostest die PV-Speicher-Kombination somit schätzungsweise
                                        <b> {{request.session.capex_pv_und_battery}} €</b>.
                                        Unter Berücksichtigung der Investitionskosten
                                        liegt Ihr Gewinn nach 10 Jahren somit bei
                                        <b> {{request.session.gewinn_10_jahre}} €</b>.
                                       <br><br>
                                       Bei der PV-Speicher-Kombination nutzen Sie 
                                       <b> {{request.session.quote_pv_nutzung}} %</b> des 
                                       erzeugten Stroms selber und haben eine Eigenversorgungsquote von
                                       <b> {{request.session.quote_eigenversorgung}} %</b>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
						<div class="card-body">
							<h5 class="mb-3">Übersicht Ihrer PV-Erzeugung und Ihres Stromverbrauchs</h5>
                            <p class="card-text">
                                Mit einer Fläche von <b> {{request.session.roof_size}} </b> m&#178 können Sie eine
                                Anlage der Größe <b> {{request.session.pv_kW_peak}} kWpeak </b> bauen. 
                                Bei einer Dachneigung von <b> {{request.session.roof_tilt}}° </b> und
                                einer Ausrichtung nach <b> {{request.session.roof_orientation}} </b> können
                                <b> {{request.session.electricity_pv_generation_day}} kWh </b> Strom am Tag erzeugt werden.
                                
                                Bei einer Immobilie vom Typ
                                <b> {{request.session.property_type}}</b>, mit insgesamt 
                                <b> {{request.session.number_properties}}</b>
                                Wohneinheit(en) mit durchschnittlich
                                <b> {{request.session.number_persons}}</b>
                                sowie einer Warmwasseraufbereitung
                                <b> {{request.session.water_heating}}</b>,
                                liegt der Jahresenergieverbrauch bei 
                                <b> {{request.session.electricity_consumption_year}} kWh</b>
                                und der Tagesenergieverbauch bei
                                <b> {{request.session.electricity_consumption_day}} kWh</b>.
                                <br><br>
                                Hieraus ergibt sich für einen beispielhaften Tag der folgende 
                                Graf für Ihre Immobilie. 
                            </p>
                        </div>
                        <div class="card-body">
                            <div id="mixed-chart-PV-Erzeugung"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var electricity_generation_day = "{{request.session.electricity_pv_generation_day}}";
    var electricity_consumption_year =  "{{request.session.electricity_consumption_year}}"
    var electricity_consumption_day = Number(electricity_consumption_year/365).toFixed(2);
</script>

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
