{% extends "layouts/base.html" %}

{% block title %} Dashboard Umwelt {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Eigene Stromerzeugung und Speicherung</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/Pv_Speicher_haus.png" alt="Card image cap">
                                </div>
                                <div class="col-9">
                                    <p>
                                        Die Hauptbestandteile von Photovoltaik-Anlagen sind Solarmodule und ein Wechselrichter, 
                                        der den von den Modulen erzeugten Gleichstrom in Wechselstrom (50 Hz, 220 V) umwandelt, 
                                        sowie die Verkabelung der Module untereinander und mit dem Wechselrichter. Außerdem sind 
                                        verschiedene Schaltvorrichtungen (Freischalter für Servicearbeiten, 
                                        Notabschaltungsvorrichtungen für den Brandfall), Sicherungen und Blitzschutzeinrichtungen 
                                        erforderlich. Weitere Anlagenkomponenten variieren je nach Systemtyp.
                                        <br><br>
                                        Mit einem <b>Speichersystem</b> für zu Hause können Sie tagsüber einen Teil
                                        Ihres selbst erzeugten Sonnenstroms zwischenspeichern, um ihn abends 
                                        und bis zum nächsten Morgen zu verbrauchen. Erzeugt die Photovoltaikanlage
                                        mehr Strom als zum gleichen Zeitpunkt verbraucht wird, lädt der Speicher, 
                                        anstatt den Strom ins allgemeine Netz einzuspeisen. Besteht mehr Strombedarf 
                                        als die PV-Anlage liefern kann – wie nachts oder in der Dämmerung – 
                                        kann durch das Entladen des Speichers zeitversetzt der eigene Strom genutzt 
                                        werden.
                                        <br><br>
                                        <b> TO DO: Bild, dass klickbar ist mit Erklärung der Komponenten </b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ variant-chart ] start --> 
                <div class="col-md-12">
                    <div class="card alert-primary">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                        <br> Ergebnis Auswahl PV-Anlage
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                        Mit einer/ einem <b> {{request.session.property_type}} </b> mit 
                                        <b> {{request.session.number_persons}} </b> und einer Warmwasser Aufereitung
                                        <b> {{request.session.water_heating}} </b> Verbrauchen Sie im Jahr 
                                        <b> {{request.session.electricity_consumption_year}} kWh </b> Strom.
                                        <br><br>
                                        Bei einem Fahrverhalten von durchschnittlich 
                                        <b>{{request.session.driving_profile}} km am Tag</b>,
                                        ...
                                        <b>
                                        TO DO: ...
                                        </b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>PV-Anlage</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                Beim Eigenverbrauch (auch Eigenstromnutzung genannt) nutzen Sie den erzeugten Strom 
                                in Teilen oder vollständig für Ihren Bedarf. Damit senken Sie Ihre Kosten gleich zwei Mal: 
                                Erstens müssen Sie bei Ihrem Versorger weniger Strom einkaufen, zweitens sind Sie unabhängiger 
                                von künftigen Strompreiserhöhungen.
                                <br><br>
                                In konventionellen Photovoltaikanlagen wird der erzeugte Strom direkt genutzt. Der überschüssige 
                                Strom aus dem System wir ins öffentliche Netz eingespeist. Liefert die Photovoltaikanlage weniger 
                                Strom als benötigt, wird dieser aus dem öffentlichen Netz bezogen.
                                <br><br>
                                Mit einer Fläche von <b> {{request.session.roof_size}} </b> m2 können Sie eine
                                Anlage der Größe <b> {{request.session.pv_kw_peak}} kWpeak </b> bauen. <br>
                                Bei einer Dachneigung von <b> {{request.session.roof_tilt}}° </b> und
                                einer Ausrichtung nach <b> {{request.session.roof_orientation}} </b> können
                                <b> {{request.session.electricity_generation_year}} kWh </b> Strom im Jahr erzeugt werden, 
                                bei einem Stromverbrauch von <b> {{request.session.electricity_consumption_year}} kWh </b>
                                <br><br>
                                Die Stromerzeugung hängt dabei stark von den Jahres- und Tageszeiten ab. Grundsätzliche 
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>PV Stromerzeugung</h5>
                        </div>
                        <div class="card-body">
                            <div id="mixed-chart-PV-Erzeugung"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Dimensionierung PV-Anlage und Speicher</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                Mit einer Fläche von <b> 1 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_1KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_1KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_1KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 2 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_2KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_2KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_2KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 3 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_3KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_3KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_3KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 4 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_4KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_4KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_4KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 5 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_5KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_5KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_5KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 6 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_6KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_6KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_6KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 7 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_7KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_7KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_7KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 8 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_8KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_8KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_8KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 9 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_9KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_9KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_9KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                            <p>
                                Mit einer Fläche von <b> 10 KWpeak </b> kostet die PV-Anlage
                                <b> {{request.session.pv_10KWpeak_investment_cost}} €</b>. Hiermit können
                                am Tag <b> {{request.session.pv_10KWpeak_saved_costs_own_electricity}} €</b> 
                                gespart werden, durch den eigenen Strom und
                                <b> {{request.session.pv_10KWpeak_earnings_sold_electricity}} €</b> durch 
                                den Verkauf des Stroms. <br><br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Pv-Anlage und Speicher</h5>
                        </div>
                        <div class="card-body">
                            <div id="mixed-chart-PV-Speicher"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var electricity_generation_year = "{{request.session.electricity_generation_year}}";
    var electricity_generation_day = Number(electricity_generation_year/365).toFixed(2);
    var electricity_consumption_year =  "{{request.session.electricity_consumption_year}}"
    var electricity_consumption_day = Number(electricity_consumption_year/365).toFixed(2);

    var pv_1KWpeak_investment_cost = "{{request.session.pv_1KWpeak_investment_cost}}"
    var pv_1KWpeak_saved_costs_own_electricity = "{{request.session.pv_1KWpeak_saved_costs_own_electricity}}"
    var pv_1KWpeak_earnings_sold_electricity = "{{request.session.pv_1KWpeak_earnings_sold_electricity}}"
    
    var pv_2KWpeak_investment_cost = "{{request.session.pv_2KWpeak_investment_cost}}"
    var pv_2KWpeak_saved_costs_own_electricity = "{{request.session.pv_2KWpeak_saved_costs_own_electricity}}"
    var pv_2KWpeak_earnings_sold_electricity = "{{request.session.pv_2KWpeak_earnings_sold_electricity}}"
    
    var pv_3KWpeak_investment_cost = "{{request.session.pv_3KWpeak_investment_cost}}"
    var pv_3KWpeak_saved_costs_own_electricity = "{{request.session.pv_3KWpeak_saved_costs_own_electricity}}"
    var pv_3KWpeak_earnings_sold_electricity = "{{request.session.pv_3KWpeak_earnings_sold_electricity}}"
    
    var pv_4KWpeak_investment_cost = "{{request.session.pv_4KWpeak_investment_cost}}"
    var pv_4KWpeak_saved_costs_own_electricity = "{{request.session.pv_4KWpeak_saved_costs_own_electricity}}"
    var pv_4KWpeak_earnings_sold_electricity = "{{request.session.pv_4KWpeak_earnings_sold_electricity}}"
    
    var pv_5KWpeak_investment_cost = "{{request.session.pv_5KWpeak_investment_cost}}"
    var pv_5KWpeak_saved_costs_own_electricity = "{{request.session.pv_5KWpeak_saved_costs_own_electricity}}"
    var pv_5KWpeak_earnings_sold_electricity = "{{request.session.pv_5KWpeak_earnings_sold_electricity}}"

    var pv_6KWpeak_investment_cost = "{{request.session.pv_6KWpeak_investment_cost}}"
    var pv_6KWpeak_saved_costs_own_electricity = "{{request.session.pv_6KWpeak_saved_costs_own_electricity}}"
    var pv_6KWpeak_earnings_sold_electricity = "{{request.session.pv_6KWpeak_earnings_sold_electricity}}"

    var pv_7KWpeak_investment_cost = "{{request.session.pv_7KWpeak_investment_cost}}"
    var pv_7KWpeak_saved_costs_own_electricity = "{{request.session.pv_7KWpeak_saved_costs_own_electricity}}"
    var pv_7KWpeak_earnings_sold_electricity = "{{request.session.pv_7KWpeak_earnings_sold_electricity}}"

    var pv_8KWpeak_investment_cost = "{{request.session.pv_8KWpeak_investment_cost}}"
    var pv_8KWpeak_saved_costs_own_electricity = "{{request.session.pv_8KWpeak_saved_costs_own_electricity}}"
    var pv_8KWpeak_earnings_sold_electricity = "{{request.session.pv_8KWpeak_earnings_sold_electricity}}"

    var pv_9KWpeak_investment_cost = "{{request.session.pv_9KWpeak_investment_cost}}"
    var pv_9KWpeak_saved_costs_own_electricity = "{{request.session.pv_9KWpeak_saved_costs_own_electricity}}"
    var pv_9KWpeak_earnings_sold_electricity = "{{request.session.pv_9KWpeak_earnings_sold_electricity}}"

    var pv_10KWpeak_investment_cost = "{{request.session.pv_10KWpeak_investment_cost}}"
    var pv_10KWpeak_saved_costs_own_electricity = "{{request.session.pv_10KWpeak_saved_costs_own_electricity}}"
    var pv_10KWpeak_earnings_sold_electricity = "{{request.session.pv_10KWpeak_earnings_sold_electricity}}"
</script>

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
