{% extends "layouts/base.html" %}

{% block title %} Dashboard Allgemein {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">


            <div class="row">
                <div class="col-md-12">
                    <div class="card">
						<div class="card-body">
							<h5 class="mb-3">Einführung Verlustleistung</h5>
							<div class= "row">
                                <div class="col-8">
                                    <p class="card-text">
                                        Damit Sie Ihr Elektroauto mit der Wallbox laden können, 
                                        muss diese mit einem <b>Kabel</b> an den Stromkreis angeschlossen werden. 
                                        Beim Laden treten hierbei gewisse Energieverluste im Kabel auf.
                                        Das bedeutet, dass ein Teil der Energie nicht für das Laden des Autos 
                                        genutzt werden kann, da diese in anderer Form (bspw. Wärme) frei wird.
                                        <b>Die Verlustleistung ist hierbei die verloren gegangene Energiemenge pro Zeiteinheit.</b>                                                                                         
                                        <br><br>
                                        Das hat gleich zwei Nachteile. Zum einen 
                                        muss beachtet werden, dass sich das Kabel nicht zu stark erwärmt und zum anderen
                                        muss der verlorene Strom trotzdem bezahlt werden.
                                        Das Ziel ist also, das Anschlusskabel der Wallbox so auszuwählen, dass die 
                                        Verlustleistung nicht zu groß wird.   
                                        Entscheidend für die Verlustleistung ist hierbei vor allem das <b>Material</b>,
                                        die <b>Länge</b> und der <b>Querschnitt</b> des Kabels sowie die <b>Stromstärke</b> und die Anzahl 
                                        der verwendeten <b>Phasen</b>. 
                                        Als Material für das Kabel wird üblicherweise <b>Kupfer</b> verwendet und die Länge
                                        des Kabels haben Sie mit <b>{{request.session.cable_length}} m</b> angegeben.
                                        <b>Optimiert werden kann der Querschnitt </b>. 
                                        Je größer der Kabelquerschnitt dabei ist, desto teurer werden die Kosten für das Kabel
                                        und desto günstiger werden die Kosten für die Verlustleistung.
                                    </p>
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/verlustleistung_home.svg" alt="Card image cap">
                                </div>
                            </div>
						</div>
					</div>
                </div>
            </div>
            <div class="row">
                <!-- order-card start -->
                <div class="col-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6>Gesamtkosten Kabel 1,5 mm&#178</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-credit-card float-left"></i><span>{{request.session.costs_1_5mm}} €</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6 >Gesamtkosten Kabel {{request.session.opt_querschnitt}} mm&#178</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-credit-card float-left"></i><span>{{request.session.opt_min_costs}} €</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6>Kabellänge</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-maximize-2 float-left" ></i><span>{{request.session.cable_length}} m</span></h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card order-card bg-patern-white" style="background-color:#D9DADD;">
                        <div class="card-body">
                            <h6>Nutzungsdauer</h6>
                            <br>
                            <h2 class="text-right"><i class="feather icon-clock float-left" ></i><span>{{request.session.usage_years}} Jahre</span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="background-color:#D9DADD;">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-1">
                                    <img class="img-fluid card-img-top" src="/static/assets/images/slider/success_blue.png" alt="Card image cap">
                                </div>
                                <div class="col-11">
                                    <h5>
                                        <br> Ihre beste Wahl - ein Kabel mit einem Querschnitt von {{request.session.opt_querschnitt}} mm&#178
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-11">
                                    <p>
                                        Bei einem Fahrverhalten von durchschnittlich 
                                        <b>{{request.session.driving_profile}} km am Tag</b>, 
                                        einer Kabellänge von <b>{{request.session.cable_length}} m</b>
                                        und einer Nutzungsdauer von 
                                        <b>{{request.session.usage_years}} Jahren</b>, ergibt sich folgende 
                                        optimale Kabeldimensionierung.
                                        <br><br>

                                        <b>Optimal</b> wäre die Verwendung eines Kupferkabels mit einem
                                        <b> Querschnitt von {{request.session.opt_querschnitt}} mm&#178</b>, mit Gesamtkosten von 
                                        <b> {{request.session.opt_min_costs}} € </b>. 
                                        Die Kosten für das Kabel würden hierbei
                                        <b> {{request.session.opt_cable_costs}} € </b> betragen und die
                                        Kosten für die Verlustleistung <b> {{request.session.opt_verlustleistungscosts}} € </b>.
                                        
                                        <br><br>
                                        <b>Technisch möglich</b> wäre die Verwendung eines Kupferkabels mit einem
                                        <b> Querschnitt von 1,5 mm&#178</b>, mit Gesamtkosten von 
                                        <b> {{request.session.costs_1_5mm}} € </b>.
                                        Die Kosten für das Kabel würden hierbei
                                        <b> {{request.session.cable_costs_1_5mm}} € </b> betragen und die
                                        Kosten für die Verlustleistung <b> {{request.session.verlustleistung_costs_1_5mm}} € </b>.
                                        <br><br>
                                        <b>Annahme</b>:
                                        Wie unter <b>Ergebnis Lastmanagement</b> dargelegt, kann mit
                                        <b> {{request.session.dyn_verfuegbare_ladeleistung_fuer_wallbox}} kW </b> geladen werden.<br>
                                        Sollte die Ladeleistung eines dynamischen Lastmanagement nicht ausreichen (0 sein),
                                        dann wird angenommen, dass ein Netzausbau duchgeführt wurde und als Ladeleistung 11 kW zur Vefügung stehen. 
                                        Bei einer Ladeleistung kleiner 11 kW, wird angenommen, 
                                        dass die Spannung abfällt und die Stromstärke konstant bleibt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <h5>
                                Erklärung des Ergebnisses<br>
                            </h5>
                            <p>
                                Die <b>Gesamtkosten</b> errechnen sich aus den <b>Kosten für das Kupferkabel</b> und den <b>zusätzlichen 
                                Stromkosten durch die Verlustleistung</b> in Abhängigkeit vom Kabelquerschnitt. 
                                Die Verlustleistung errechnet sich dabei wie folgt:
                                <br><br>
                                <b>Verlustleistung = <sup>3*Kabellänge*I&#178</sup>&frasl;<sub>56*Kabelquerschnitt</sub></b>, 
                                <br><br>
                                wobei 3 für die Anzahl der Phasen im Kabel steht, I die Stromstärke (16A) angibt 
                                und 56 der Leitwert von Kupfer ist. Der Querschnitt variiert von 1,5 bis 16 mm&#178.
                                <br><br>
                                Der Wert für die Verlustleistung wir dann mit der Ladeleistung, der benötigten Strommenge und dem zugehörigen
                                Strompreis (siehe Ergebnis Stromtarif) sowie dem betrachteten Zeitraum verrechnet.                                 
                                Mögliche Preise finden Sie <b><a href="https://www.hornbach.de/shop/Kabel-Kabelschutz/Kabel-Leitungen/S4080/artikelliste.html" target="_blank">hier</a></b>.
                                <br><br>
                                 Der <b>minimal zulässige Querschnitt </b>
                                 hängt von der <b>Verlegeart</b> (auf der Wand oder in der Wand) und der <b>Stromstärke</b> ab.
                                 Mehr Informationen finden Sie bei der 
                                 <b><a href="https://www.vde-verlag.de/buecher/leseprobe/9783800746910_PROBE_01.pdf" target="_blank">VDE</a></b>.
                                 Für Ihren Fall kann aber angenommen werden, dass das Kabel auf der Wand verlegt wird, <b>Drehstrom durch 3 Adern 
                                 fließt und eine Stromstärke von 16 A </b>anliegt. Ein <b>minimaler Kabelquerschnitt von 1.5 mm&#178</b> ist damit technisch ausreichend.                         
                        </div>
                        <div class="col-md-5">
                            <h5>Verlustleistung Kabel</h5>
                            <p>
                                In dieser Grafik ist die Verlustleistung in Watt für verschiedene Kabelquerschnitte
                                bei jeweils unterschiedlichen Kabellängen angegeben.
                            </p>
                            <div id="area-chart-1-verlustleistung"></div>  
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Optimale Dimensionierung Kabel</h5>
                            <p>
                                Hier sehen Sie für Ihre individuellen Angaben, 
                                wie sich für jeden Querschnitt die Kabelkosten, 
                                Verlustleistungskosten und Gesamtkosten entwickeln.
                                Hierbei wird Ihre Fahrstrecke von 
                                <b>{{request.session.driving_profile}} km am Tag</b>, 
                                eine Kabellänge von <b>{{request.session.cable_length}} m</b>
                                und eine Nutzungsdauer des Kabels von 
                                <b>{{request.session.usage_years}} Jahren</b> angenommen.
                            </p>
                            <div id="area-chart-1-cable-costs"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        var driving_profile = "{{request.session.driving_profile}}";
        var cable_length = "{{request.session.cable_length}}";
        var usage_years = "{{request.session.usage_years}}";
        var value = "{{request.session.dyn_verfuegbare_ladeleistung_fuer_wallbox}}";     
        if(value == 0){
            dyn_verfuegbare_ladeleistung_fuer_wallbox = 11
        } else {
            dyn_verfuegbare_ladeleistung_fuer_wallbox = value
        } 
    </script>
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
