{% extends "layouts/base.html" %}

{% block title %} Angaben Immobilie {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Einführung Eingaben</h5>
                            </div>
                            <p class="card-text">
                                1. Die folgenden Angaben werden benötigt, um hieraus <b>individualisierte Ergebnisse zu errechnen.</b>
                                Dabei werden möglichst wenig persönliche Daten abgefragt.
                                <br><br>
                                2. Durch das Klicken auf den <b>Berechnen Button</b> am Ende der Seite werden die Eingaben für die
                                <b>gesamte Zeit gespeichert</b>, bis Sie auf dieser Seite erneut Änderungen vornehmen.
                                <br><br>
                                <b>Annahmen: Die Angaben beziehen sich auf das gesamte Gebäude.
                            </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mt-5">Angaben lokale Stromerzeugung</h5>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <form class="needs-validation" method="POST" novalidate>
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="validationCustom01">{{ form.roof_size.label_tag }}</label>
                                                <select name="roof_size" class="form-control">
                                                    <option value="{{request.session.roof_size}}">{{request.session.roof_size}} m&#178</option>
                                                    {% for choice in form.roof_size.field.choices %}
                                                        {% if  choice.1 != request.session.roof_size %}
                                                            <option value="{{ choice.0 }}">{{choice.1}} m&#178</option>
                                                        {%endif%}
                                                    {% endfor %}
                                                </select>
                                                <div class="valid-feedback">
                                                    vollständig!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="validationCustom01">{{ form.roof_tilt.label_tag }}</label>
                                                <select name="roof_tilt" class="form-control">
                                                    <option value="{{request.session.roof_tilt}}">{{request.session.roof_tilt}}°</option>
                                                    {% for choice in form.roof_tilt.field.choices %}
                                                        {% if  choice.0 != request.session.roof_tilt %}
                                                            <option value="{{ choice.0 }}">{{choice.1}}</option>
                                                        {%endif%}
                                                    {% endfor %}
                                                </select>
                                                <div class="valid-feedback">
                                                    vollständig!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="validationCustom01">{{ form.roof_orientation.label_tag }}</label>
                                                <select name="roof_orientation" class="form-control">
                                                    <option value="{{request.session.roof_orientation}}">{{request.session.roof_orientation}}</option>
                                                    {% for choice in form.roof_orientation.field.choices %}
                                                        {% if  choice.1 != request.session.roof_orientation %}
                                                            <option value="{{ choice.0 }}">{{choice.1}}</option>
                                                        {%endif%}
                                                    {% endfor %} 
                                                </select>
                                                <div class="valid-feedback">
                                                    vollständig!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="validationCustom01">{{ form.solar_radiation.label_tag }}</label>
                                                <select name="solar_radiation" class="form-control">
                                                    <option value="{{request.session.solar_radiation}}">{{request.session.solar_radiation}} kWh/kWpeak</option>
                                                    {% for choice in form.solar_radiation.field.choices %}
                                                        {% if  choice.1 != request.session.solar_radiation %}
                                                            <option value="{{ choice.0 }}">{{choice.1}} kWh/kWpeak</option>
                                                        {%endif%}
                                                    {% endfor %} 
                                                </select>
                                                <div class="valid-feedback">
                                                    vollständig!
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn  btn-primary" type="submit">Berechnen</button>                              
                                    </form>
                                </div>  
                                <div class="col-6">
                                    <h6>Übersicht Sonneneinstrahlung in kWh/kWpeak</h6>
                                    <div class="col-md-8 mb-3">
                                        <img class="img-fluid card-img-top" src="/static/assets/images/slider/Sonneneinstrahlung.png" alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                            <script>
                                // Example starter JavaScript for disabling form submissions if there are invalid fields
                                (function() {
                                    'use strict';
                                    window.addEventListener('load', function() {
                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        var forms = document.getElementsByClassName('needs-validation');
                                        // Loop over them and prevent submission
                                        var validation = Array.prototype.filter.call(forms, function(form) {
                                            form.addEventListener('submit', function(event) {
                                                if (form.checkValidity() === false) {
                                                    event.preventDefault();
                                                    event.stopPropagation();
                                                }
                                                form.classList.add('was-validated');
                                            }, false);
                                        });
                                    }, false);
                                })();
                            </script>
                        </div>
                    </div>
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->

        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
