{% extends "layouts/base.html" %}

{% block title %} Angaben Immobilie {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <h5>Eingaben Immobilie und Laden</h5>
                            <hr>
                            <form class="needs-validation" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.property_type.label_tag }}</label>
                                        <select name="property_type" class="form-control">
                                            {% for choice in form.property_type.field.choices %}
                                                {% if  choice.0 == request.session.property_type %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.number_properties.label_tag }}</label>
                                        <select name="number_properties" class="form-control">
                                            {% for choice in form.number_properties.field.choices %}
                                                {% if  choice.0 == request.session.number_properties %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            <b>WICHTIG: Wenn dieser Wert erhöht wird, sollten Sie auch die Hausanschlussleistung weiter unten erhöhen! </b>
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.water_heating.label_tag }}</label>
                                        <select name="water_heating" class="form-control">
                                            {% for choice in form.water_heating.field.choices %}
                                                {% if  choice.0 == request.session.water_heating %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.number_persons.label_tag }}</label>
                                        <select name="number_persons" class="form-control">
                                            {% for choice in form.number_persons.field.choices %}
                                                {% if  choice.0 == request.session.number_persons %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.charging_points_to_install.label_tag }}</label>
                                        <input type="number" min="1" name="charging_points_to_install" class="form-control" id="validationCustom01" placeholder="z.B. 4" value="{{request.session.charging_points_to_install}}" required>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.house_connection_power.label_tag }}</label>
                                        <input type="number" min="1" name="house_connection_power" class="form-control" id="validationCustom01" placeholder="z.B. 43" value="{{request.session.house_connection_power}}" required>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            <b>Es gelten folgende Standardwerte:</b> Rechengrundlage <b>(<a href="https://www.voltimum.de/sites/www.voltimum.de/files/fields/attachment_file/de/others/E/200407146820PlanungundBemessungHauptstromversorgungssysteme.pdf" target="_blank">hier, Seite 12</a>).</b><br>
                                            <b>- Mit Strom für Warmwasser:</b> 1 Wohneinheit: 43 kW, 5 Wohneinheiten: 86 kW, 10 Wohneinheiten: 110 kW, 20 Wohneinheiten: 138 kW, 30 Wohneinheiten: 172 kW <br>
                                            <b>- Ohne Strom für Warmwasser:</b> 1 Wohneinheit: 43 kW, 5 Wohneinheiten: 43 kW, 10 Wohneinheiten: 55 kW, 20 Wohneinheiten: 86 kW, 30 Wohneinheiten: 86 kW 
								        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.driving_profile.label_tag }}</label>
                                        <select name="driving_profile" class="form-control">
                                            {% for choice in form.driving_profile.field.choices %}
                                                {% if  choice.0 == request.session.driving_profile %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Autofahrer*innen in Deutschland fahren durchschnittlich rund 40 km am Tag.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.arrival_time.label_tag }}</label>
                                        <select name="arrival_time" class="form-control">
                                            {% for choice in form.arrival_time.field.choices %}
                                                {% if  choice.0 == request.session.arrival_time %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.departure_time.label_tag }}</label>
                                        <select name="departure_time" class="form-control">
                                            {% for choice in form.departure_time.field.choices %}
                                                {% if  choice.0 == request.session.departure_time %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.cable_length.label_tag }}</label>
                                        <select name="cable_length" class="form-control">
                                            {% for choice in form.cable_length.field.choices %}
                                                {% if  choice.0 == request.session.cable_length %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.usage_years.label_tag }}</label>
                                        <select name="usage_years" class="form-control">
                                            {% for choice in form.usage_years.field.choices %}
                                                {% if  choice.0 == request.session.usage_years %}
                                                <option value="{{ choice.0 }}" selected>{{choice.1}} </option>
                                                {% else %}
                                                <option value="{{ choice.0 }}">{{choice.1}} </option>
                                                {%endif%}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <button class="btn  btn-primary" type="submit">Berechnen</button>
                            </form>
                            <script>
                                // Example starter JavaScript for disabling form submissions if there are invalid fields
                                (function() {
                                    'use strict';
                                    window.addEventListener('load', function() {
                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        var forms = document.getElementsByClassName('needs-validation');
                                        // Loop over them and prevent submission
                                        var validation = Array.prototype.filter.call(forms, function(form) {
                                            form.addEventListener('submit', function(event) {
                                                if (form.checkValidity() === false) {
                                                    event.preventDefault();
                                                    event.stopPropagation();
                                                }
                                                form.classList.add('was-validated');
                                            }, false);
                                        });
                                    }, false);
                                })();
                            </script>
                        </div>
                    </div>
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->

        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
