{% extends "layouts/base.html" %}

{% block title %} Angaben Immobilie {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Wieso werden diese Daten erfasst?</h5>
                            </div>
                            <p class="card-text">
                              Die folgenden Angaben werden benötigt, um hieraus Ihren individuellen Bedarf zu errechnen. Dabei werden möglichst wenig persönliche Daten abgefragt.
                            <br><br>
                            <b>Annahmen: Wenn zu Ihrer Immobilie mehrere Wohneinheiten gehören, muss
                                ein einheitlicher bzw. durchschnittlicher Wert eingegeben werden.
                            </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mt-5">Angaben Immobilie</h5>
                            <hr>
                            <form class="needs-validation" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.property_type.label_tag }}</label>
                                        <select name="property_type" class="form-control">
                                            {{form.property_type.0}}
                                            {{form.property_type.1}} 
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.number_properties.label_tag }}</label>
                                        <select name="number_properties" class="form-control">
                                            {{form.number_properties.0}}
                                            {{form.number_properties.1}} 
                                            {{form.number_properties.2}} 
                                            {{form.number_properties.3}} 
                                            {{form.number_properties.4}} 
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            <b>WICHTIG: Wenn dieser Wert erhöht wird, sollten Sie auch die Hausanschlussleistung erhöhen! </b>
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.water_heating.label_tag }}</label>
                                        <select name="water_heating" class="form-control">
                                            {{form.water_heating.0}}
                                            {{form.water_heating.1}} 
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.number_persons.label_tag }}</label>
                                        <select name="number_persons" class="form-control">
                                            {{form.number_persons.0}}
                                            {{form.number_persons.1}}
                                            {{form.number_persons.2}}
                                            {{form.number_persons.3}}
                                            {{form.number_persons.4}}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.charging_points_to_install.label_tag }}</label>
                                        <input type="number" min="1" name="charging_points_to_install" class="form-control" id="validationCustom01" placeholder="z.B. 4" value="4" required>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Bedenken Sie hierbei auch, dass Sie ggf. später noch weitere Ladestationen erweitern möchten.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.house_connection_power.label_tag }}</label>
                                        <input type="number" min="1" name="house_connection_power" class="form-control" id="validationCustom01" placeholder="z.B. 43" value="43" required>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Für eine Wohneinheit liegt der Standardwert bei 43 kW. Nähere Informationen finden Sie
                                            auf Seite 12 in folgendem PDF
                                            <b>(<a href="https://www.voltimum.de/sites/www.voltimum.de/files/fields/attachment_file/de/others/E/200407146820PlanungundBemessungHauptstromversorgungssysteme.pdf" target="_blank">hier</a>)</b>.
								        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.driving_profile.label_tag }}</label>
                                        <select name="driving_profile" class="form-control">
                                            {{form.driving_profile.0}}
                                            {{form.driving_profile.1}}
                                            {{form.driving_profile.2}}
                                            {{form.driving_profile.3}}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Autofahrer*innen in Deutschland fahren durchschnittlich rund 40 km am Tag
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.arrival_time.label_tag }}</label>
                                        <select name="arrival_time" class="form-control">
                                            {{form.arrival_time.0}}
                                            {{form.arrival_time.1}}
                                            {{form.arrival_time.2}}
                                            {{form.arrival_time.3}}
                                            {{form.arrival_time.4}}
                                            {{form.arrival_time.5}}
                                            {{form.arrival_time.6}}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.departure_time.label_tag }}</label>
                                        <select name="departure_time" class="form-control">
                                            {{form.departure_time.0}}
                                            {{form.departure_time.1}}
                                            {{form.departure_time.2}}
                                            {{form.departure_time.3}}
                                            {{form.departure_time.4}}
                                            {{form.departure_time.5}}
                                            {{form.departure_time.6}}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.cable_length.label_tag }}</label>
                                        <select name="cable_length" class="form-control">
                                            {{form.cable_length.0}}
                                            {{form.cable_length.1}}
                                            {{form.cable_length.2}}
                                            {{form.cable_length.3}}
                                            {{form.cable_length.4}}
                                            {{form.cable_length.5}}
                                            {{form.cable_length.6}}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">{{ form.usage_years.label_tag }}</label>
                                        <select name="usage_years" class="form-control">
                                            {{form.usage_years.0}}
                                            {{form.usage_years.1}}
                                            {{form.usage_years.2}}
                                            {{form.usage_years.3}}
                                        </select>
                                        <div class="valid-feedback">
                                            vollständig!
                                        </div>
                                    </div>
                                </div>
                                <button class="btn  btn-primary" type="submit">Speichern</button>
                            </form>
                            <script>
                                // Example starter JavaScript for disabling form submissions if there are invalid fields
                                (function() {
                                    'use strict';
                                    window.addEventListener('load', function() {
                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        var forms = document.getElementsByClassName('needs-validation');
                                        // Loop over them and prevent submission
                                        var validation = Array.prototype.filter.call(forms, function(form) {
                                            form.addEventListener('submit', function(event) {
                                                if (form.checkValidity() === false) {
                                                    event.preventDefault();
                                                    event.stopPropagation();
                                                }
                                                form.classList.add('was-validated');
                                            }, false);
                                        });
                                    }, false);
                                })();
                            </script>
                        </div>
                    </div>
                </div>
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->

        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
