{% extends "layouts/base.html" %}

{% block title %} Willkommen {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ Main Content ] start -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h5 class="mb-3">Kurz Erklärt: Aufbau der Software</h5>
							<div class="row">
								<div class="col-md-3 col-sm-12">
									<ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
										<li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Allgemein</a></li>
										<li><a class="nav-link text-left" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-home" aria-selected="false">Menü</a></li>
                                        <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Nächste Schritte</a></li>
									</ul>
								</div>
								<div class="col-md-9 col-sm-12">
									<div class="tab-content" id="v-pills-tabContent">
										<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
											<p>
												<b>Willkommen bei der Planungssoftware für Smart Cahrging Konzepte.</b> <br>
												Mit dieser Software lernen Sie mehr über das Thema <b>Smart Charging </b> und die <b>Potenziale für Ihre Immobilie.</b> <br><br>
												
												<b>Oben auf jeder Seite finden Sie einen kurzen Erklärtext.</b> <br><br>

												Unter dem Punkt <b>Menü</b> wird der Aufbau dieser Software erklärt. 
											 </p>
										</div>
										<div class="tab-pane fade show" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-home-tab">
											<p class="mb-0">
												Die Software ist in <b>5 Abschintte</b> unterteilt, die Sie über das <b>Seitenmenü</b> oder auf jeweils kenntlich gemachten <b>Buttons</b> erreichen <br>
												In der <b>Navigationsleiste</b> können Sie sich <b>oben links graphische Änderungen</b> vornehmen und <b>oben rechts sich ausloggen</b>. <br>
												<br>
												Auf dieser Seite (<b>"Willkommen"</b>) finden Sie eine grundsätzliche Erklärung zum Thema Smart Charging. Unter dem Menüpunkt "<b>Angaben Immobilie</b>" können Sie Ihre eigene Immobilie konfigurieren. 
												Unter den <b>drei Menüpunkten Dashboard</b> finden Sie Übersichten zu Smart Charging im Allgemeinen, den Kostenvorteilen und den Potenzialen für die Umwelt.  

											</p>
										</div>
										<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
											<p class="mb-0">
												<b>Nächste Schritte: </b><br>
												- wenn Sie lernen möchten, was <b>Smart Charging grundöegend</b> bedeutet, erfahren Sie <b>auf dieser Seite</b> mehr. <br>
												- Wenn Sie mehr über die Potenziale von Smart Charging für Ihre <b>individuelle Immobilie</b> erfahren möchten, gehen Sie auf den <b>Menüpunkt Angaben Immobilie</b>. <br>
												- Wenn Sie mit einer <b>Beispielimmobilie</b> beginnen möchten, gehen Sie zum <b>Menüpunkt Dashboard Allgemein</b>.
												<br>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<h5>Was ist Smart Charging?</h5>
					<p>
						Bedingt durch die Energiewende gewinnt der Markthochlauf von EVs zunehmend an 
						Bedeutung. Im Vergleich zu anderen privaten Stromverbrauchern haben EVs dabei 
						eine hohe Leistungsnachfrage. Hinzu kommt ein hoher Grad an Gleichzeitigkeit 
					  	in Immobilien, denn viele Nutzer schließen ihr EVs am Abend an die Ladestation an.
					 	Diese Nachfragespitzen können das Stromnetz selbst bei geringer 
					 	Marktdurchdringung herausfordern. Es ist daher von zunehmender Bedeutung, 
					  	die Ladevorgänge intelligent zu steuern und flexibel zu gestalten, um 
					  	Lastspitzen abzufangen und andere Opti-mierungsziele zu erreichen.
					</p>
					<hr>
					<div class="col-xl-12">
						<div class="card-deck">
							<div class="card">
								<img class="img-fluid card-img-top" src="/static/assets/images/slider/smart_charging_stock.jpg" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Allgemein</h5>
									<p class="card-text">
										Smart Charging bezieht sich auf den Prozess der <b>optimalen Steuerung des 
										Lade- und Entladevorgangs von Elektrofahrzeugen</b>. Speziell handelt es sich hierbei
										um ein <b>Informationssystem</b>, das den Ladevorgang auf ein oder <b>mehrere Ziele hin optimiert</b>. 
										
									</p>
								</div>
							</div>
							<div class="card">
								<img class="img-fluid card-img-top" src="/static/assets/images/slider/smart_charging_benefits.jpg" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Vorteile und Ziele</h5>
									<p class="card-text">
										Während der private Nutzer Flexibilitäten beim Laden nutzen kann, um auf Preisspitzen zu reagieren
										und <b>Stromkosten zu senken</b>, kann ein Netzbetreiber den Ladevorgang steuern, um <b>Netzengpässe und damit 
										einen teuren Netzausbau zu vermeiden</b>. Außerdem kann der Ladevorgang auf Zeiten mit einem geringeren 
										Anteil konventioneller Erzeugung im Erzeugungsportfolio verlagert werden, was zu <b>niedrigeren CO2-Emissionen beim 
										Laden</b> führen kann. 
										<br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card mb-6">
				</div>
			</div>
			<div class="col-xl-12">
				<h5>Start Auswahl</h5>
				<hr>
				<div class="row">
					<div class="col-md-0 col-xl-3">
						<div class="card mb-3">
						</div>
					</div>
					<div class="col-md-6 col-xl-3">
						<a href="/personal_facts.html" class="nav-link ">
							<div class="card mb-3">
								<img class="img-fluid card-img-top" src="/static/assets/images/slider/individual_house.jpg" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Individuelle Immobilie</h5>
									<p class="card-text">
										Lernen Sie anhand Ihrer eigenen Eingaben mehr zu Smart Charging.
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-xl-3">
						<a href="/db_general.html" class="nav-link ">
							<div class="card mb-3">
								<img class="img-fluid card-img-top" src="/static/assets/images/slider/example_house.jpg" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Beispiel Immobilie</h5>
									<p class="card-text">
										Lernen Sie mit unserer Beispiel Immobilie mehr zu Smart Charging. <br>
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
