{% extends "layouts/base.html" %}

{% block title %} Willkommen {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ Main Content ] start -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h5 class="mb-3">Einführung</h5>
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item"><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">1. Start</a></li>
								<li class="nav-item"><a class="nav-link text-left" id="v-pills-menu-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-menu" aria-selected="false">2. Menüführung</a></li>
								<li class="nav-item"><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">3. Wie geht's los?</a></li>
							</ul>
							<div class="tab-content" id="v-pills-tabContent">
								<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
									<p>
										<b>Willkommen bei der Planungssoftware für Smart Charging. </b> 
										Mit dieser Software lernen Sie mehr über das Thema <b>Smart Charging </b> 
										und die <b>Potenziale für Ihre Immobilie.</b>
										<br><br>
										<b>WICHTIG! Bitte lesen Sie die drei Abschnitte 1. Start, 2. Menüführung, 3. Wie geht's los.</b>
										</p>
								</div>
								<div class="tab-pane fade show" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-home-tab">
									<p class="mb-0">
										
										1. Das <b>seitliche Menü</b> ist wesentlich für die Navigation durch die Software (evtl. aufklappen, falls nicht sichtbar).
										<br><br>
										Aktuell befinden Sie sich im Menüpunkt <b>Start</b>. Hier finden Sie allgemeine Informationen
										zum Thema Smart Charging.
										<br><br>	
										2. Unter den zwei Menüpunkte <b>Eingabe Immobilie</b> und <b>Eingabe PV</b> können
										Sie Ihre individuellen Werte eingeben. Diese werden dann gespeichert und für
										die Berechnungen verwendet. <b>Geben Sie keine Werte an, 
										werden realistische Standardwerte verwendet.</b> Durch Anklicken
										des Menüpunktes <b>Eingaben zurücksetzen</b> werden Ihre Daten gelöscht und 
										wieder die Standardwerte verwendet.
										<br><br>
										3. Unter den <b>vier Dashboards</b> im seitlichen Menü finden
										Sie die Ergebnisse der Berechnungen. 
										<b>Es empfiehlt sich die Dashboards von oben nach unten durchzugehen. </b>
										Zu Beginn wird jeweils in die Thematik
										eingeführt und anschließend die Ergebnisse veranschaulicht.
										<br><br>
										4. Unter <b>Zusammenfassung</b> können Sie sich die Ergebnisse
										in Kurzform anschauen. Für nähere Erläuterungen gehen Sie auf die
										Dashboards.										 
										<br><br>
										In der <b> oberen Navigationsleiste</b> können Sie <b>oben links graphische Änderungen</b> 
										vornehmen.
									</p>
								</div>
								<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
									<p class="mb-0">
										<b>Sie haben zwei Möglichkeiten: </b><br><br>
										1. Sie gehen <b>direkt auf das erste Dashbard Lastmanagement</b>
										und verwenden plausible Standardwerte.
										<br><br>
										2. Sie gehen direkt zur 
										<b>Eingabe Immobilie</b>
										und geben Ihre Daten ein.
										<br><br>
										Wenn Sie sich noch nicht mit Smart Charging beschäftigt haben, können Sie sich auf <b>dieser
										Seite grundlegend informieren</b>.  
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-4">
							<img class="img-fluid card-img-top" src="/static/assets/images/slider/smart_charging_stock.jpg" alt="Card image cap">
						</div>
						<div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Was ist Smart Charging?</h5>
                            </div>
                            <p class="card-text">
								Elektroautos gewinnen zunehmend an Bedeutung. 
								Damit das <b>Elektroauto zuhause geladen</b> werden kann, benötigen Sie einen Ladepunkt. 
								Wird ein solcher Ladepunkt direkt an einer Wand oder Säule montiert, spricht man von einer
								<b>Wallbox</b>. 
								Diese dienen im Vergleich zu Haushaltssteckdosen zum Schutz der Netzinstallation sowie 
								als Kommunikationsmittel zu dem ladenden Auto. 
								<br><br>
								Die <b>KfW</b> hat 2021 <b>den Einbau von Lade­stationen in Wohn­gebäuden gefördert</b>. 
								Speziell wird hier der Kauf und die Installation von Lade­stationen an Stell­plätzen 
								und in Garagen, die zu Wohngebäuden  gehören und nur privat zu­gänglich sind unterstützt.
								Über den aktuellen Stand möglicher Fördervorhaben können Sie sich unter folgendem Link informieren
								<b>(<a href="https://www.kfw.de/inlandsfoerderung/Privatpersonen/Bestehende-Immobilie/F%C3%B6rderprodukte/Ladestationen-f%C3%BCr-Elektroautos-Wohngeb%C3%A4ude-(440)/" target="_blank">KfW Förderung</a>)</b>.
								<br><br>
								Im Vergleich zu anderen privaten Stromverbrauchern haben Elektroautos  
								eine <b>hohe Leistungsnachfrage</b>, die das Stromnetz herausfordern. 
								<b>Smart Charging</b> bezieht sich auf den Prozess der <b>optimalen Steuerung des 
								Lade- und Entladevorgangs von Elektrofahrzeugen</b>.  
								<br><br>
								Während der private Nutzer Flexibilitäten beim Laden nutzen kann, um auf Preisspitzen zu reagieren
								und <b>Stromkosten zu senken</b>, kann ein Netzbetreiber den Ladevorgang steuern, um <b>Netzengpässe und damit 
								einen teuren Netzausbau zu vermeiden</b>.	
							</p>
                        </div>
                    </div>
                </div>
            </div>					
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
