{% extends "layouts/base.html" %}

{% block title %} Willkommen {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ Main Content ] start -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h5 class="mb-3">Einführung</h5>
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item"><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Allgemein</a></li>
								<li class="nav-item"><a class="nav-link text-left" id="v-pills-menu-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-menu" aria-selected="false">Menüführung</a></li>
								<li class="nav-item"><a class="nav-link text-left" id="v-pills-concept-tab" data-toggle="pill" href="#v-pills-concept" role="tab" aria-controls="v-pills-concept" aria-selected="false">Aufbau Dashboards</a></li>
								<li class="nav-item"><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Nächste Schritte</a></li>
							</ul>
							<div class="tab-content" id="v-pills-tabContent">
								<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
									<p>
										<b>Willkommen bei der Planungssoftware für Smart Cahrging Konzepte.</b> 
										<br><br>
										Mit dieser Software lernen Sie mehr über das Thema <b>Smart Charging </b> 
										und die <b>Potenziale für Ihre Immobilie.</b> Unter dem Unterpunkt <b>Menü</b> 
										wird der Aufbau dieser Software erklärt und unter dem Unterpunkt <b>Nächste Schritte</b> 
										wird das Vorgehen beschrieben. 
										</p>
								</div>
								<div class="tab-pane fade show" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-home-tab">
									<p class="mb-0">
										Wesentlich für die Navigation durch die Software ist das <b>Seitmenü</b>. 
										Aktuell befinden Sie sich im Menüpunkt "Willkommen". Hier finden Sie allgemeine Informationen
										zum Thema Smart Charging.
										<br><br>										
										Bei den Menüpunkten beginnend mit <b>Eingabe</b> können Sie die Konfiguration 
										verändern und somit die Ergebnisse auf Ihren Anwendungsfall anpassen. 
										Die <b>Eingabe ist optional</b>, wenn Sie keine Werte angeben, werden realistische 
										Standardwerte verwendet. Unter den Menüpunkten <b> Lastmanagement, Steuerbare 
										Verbruachseinrichtung, Verlustleistung, Dynamische Stromtarife und Lokale Erzeugung </b> 
										können Sie sich die Ergebnisse durch <b>Dashboards</b> im Detail anschauen und erklären lassen. 
										Unter dem Punkt <b> Zusammenfassung </b> finden Sie außerdem eine kurze Übersicht aller Ergebnisse. 
										<br><br>
										In der <b> oberen Navigationsleiste</b> können Sie <b>oben links graphische Änderungen</b> 
										vornehmen und <b>oben rechts sich ausloggen</b>.
									</p>
								</div>
								<div class="tab-pane fade" id="v-pills-concept" role="tabpanel" aria-labelledby="v-pills-concept-tab">
									<p class="mb-0">
										Die Dashboards sind nach einer <b>einheitlichen Struktur</b> aufgebaut. 
										<br><br>
										Zuerst folgt eine kurze und allgemeine <b>Einführung</b> in die jeweilige Thematik. 
										Anschließend folgt eine Kachel, in welcher das <b>Ergebnis</b> zusammengefasst wird. 
										Hierauf aufbauend folgt eine <b>detaillierte Erklärung</b> sowie eine <b> Visualisierung
										</b> der Ergebnisse durch Graphen oder andere Elemente. 
									</p>
								</div>
								<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
									<p class="mb-0">
										Wenn Sie sich noch nicht mit Smart Charging beschäftigt haben, können Sie sich auf <b>dieser
										Seite grundlegend informieren</b>. 
										<br><br>
										Anschließend haben Sie <b>zwei Möglichkeiten</b>:<br> 
										- Zuerst mit standardisierten Werten Smart Charging verstehen und direkt auf die Dashaboards
										gehen. <br>
										- Zuerst die Eingaben anpassen und direkt mit individuellen Werten arbeiten. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-4">
							<img class="img-fluid card-img-top" src="/static/assets/images/slider/smart_charging_stock.jpg" alt="Card image cap">
						</div>
						<div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Was ist Smart Charging?</h5>
                            </div>
                            <p class="card-text">
								Elektroautos gewinnen zunehmend an Bedeutung. 
								Um das <b>Elektroauto zuhause laden</b> zu können, benötigen Sie einen Ladepunkt. 
								<b>Wallboxen</b> dienen im Vergleich zu Schukosteckdosen auch zum Schutz der Netzinstallation sowie 
								als Kommunikationsmittel mit dem zuladenden Fahrzeug. Während eine Wallbox an einer Wand oder 
								einer Säule installiert werden kann, so wird eine Ladesäule freistehend montiert.
								<br><br>
								Die <b>kfW</b> hat 2021 durch den <b>Zuschuss für Lade­stationen für Elektro­autos in Wohn­gebäuden</b> gefördert. 
								Speziell wird hier der Kauf und die Installation von Lade­stationen an Stell­plätzen 
								und in Garagen, die zu Wohngebäuden  gehören und nur privat zu­gänglich sind unterstützt.
								Über den aktuellen Stand möglicher Fördervorhaben können Sie sich unter folgendem Link informieren
								<b>(<a href="https://www.kfw.de/inlandsfoerderung/Privatpersonen/Bestehende-Immobilie/F%C3%B6rderprodukte/Ladestationen-f%C3%BCr-Elektroautos-Wohngeb%C3%A4ude-(440)/" target="_blank">kfW Förderung</a>)</b>.
								<br><br>
								Im Vergleich zu anderen privaten Stromverbrauchern haben Elektroautos dabei 
								eine <b>hohe Leistungsnachfrage</b>, die das Stromnetz herausfordern. 
								<b>Smart Charging</b> bezieht sich auf den Prozess der <b>optimalen Steuerung des 
								Lade- und Entladevorgangs von Elektrofahrzeugen</b>.  
								<br><br>
								Während der private Nutzer Flexibilitäten beim Laden nutzen kann, um auf Preisspitzen zu reagieren
								und <b>Stromkosten zu senken</b>, kann ein Netzbetreiber den Ladevorgang steuern, um <b>Netzengpässe und damit 
								einen teuren Netzausbau zu vermeiden</b>.	
							</p>
                        </div>
                    </div>
                </div>
            </div>					
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
